# Canadian Data Analyst Job Listing Analysis

## Table of Contents <a id='back'></a>
- [Project Introduction](#project-introduction)
    - [Analysis Outline](#analysis-outline)
    - [Results](#results)
- [Importing Libraries and Opening Data Files](#importing-libraries-and-opening-data-files)
- [Pre-Processing Data](#pre-processing-data)
    - [Duplicates](#duplicates)
    - [Missing Values](#missing-values)
    - [Removing Irrelevant Data](#removing-irrelevant-data)
    - [Data Structure Overhaul](#data-structure-overhaul)
        - [Header Style](#header-style)
        - [Formatting and Data Usage](#formatting-and-data-usage)
- [Exploratory Data Analysis](#exploratory-data-analysis)
- [Conclusions and Reccomendations](#conclusions-and-reccomendations)
- [Dataset Citation](#dataset-citation)

## Project Introduction

2024 has been a difficult year for entry-level data science jobs and for this project, I am interested in analyzing the data science field job market. For this project, I am utilizing a Kaggle-based dataset that web-scraped Indeed and Glassdoor Canadian job postings for data using Selenium and BeautifulSoup. This dataset provides multiple interesting insights into the data science job market such as in-demand technical skills, expected work experience, and salary ranges.  

### Analysis Outline

[Analysis Outline]

### Results

[Results]

[Back to Table of Contents](#back)

## Importing Libraries and Opening Data Files

In [1]:
# Importing the needed libraries for this assignment
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import folium

In [2]:
# Importing file for assignment
try:
    df = pd.read_csv('Raw_Dataset.csv', sep=',')
except:
    df = pd.read_csv('/datasets/Raw_Dataset.csv', sep=',')

[Back to Table of Contents](#back)

## Pre-Processing Data

### Duplicates

In [ ]:
# Checking for duplicates
df.duplicated().sum()

[Back to Table of Contents](#back)

### Missing Values

In [ ]:
# Checking for null values
df.isna().sum()

In [ ]:
# Filling in null values
df.fillna({'Language and Tools': 'unknown',
           'Job Salary' : 'unknown',
           'Province' : 'unknown'}, inplace = True)
df.isna().sum()

[Back to Table of Contents](#back)

### Removing Irrelevant Data

In [ ]:
# Removing columns we do not need for this analysis
df = df.drop(columns=['Job ID'])
df.info()

[Back to Table of Contents](#back)

### Data Structure Overhaul

In [ ]:
df.describe()

#### Header Style

In [ ]:
# Getting general information about the dataset
df.info()
df.head()

In [ ]:
#checking for snakecase format
df.columns

In [ ]:
# Renaming column names to snake_case format
df = df.rename(columns={'Job Title': 'job_title',
                        'Company Name': 'employer_name',
                        'Language and Tools': 'tech_skills',
                        'Job Salary': 'salary',
                        'City': 'city',
                        'Province': 'province',
                        'Job Link': 'web_platform'})
df.columns

[Back to Table of Contents](#back)

#### Formatting and Data Usage

In [ ]:
df.info()
df.head()

In [ ]:
# Changing all elements into snakecase format
for column in df.columns:
  df[column] = df[column].str.lower()
  df[column] = df[column].str.replace(' ', '_')

df.head()

experience level

In [ ]:
df['job_title'].unique()

In [ ]:
df['job_title'] = df['job_title'].str.replace('[^a-zA-Z0-9_]', '')

def exp_level(value):
    if 'senior' in value:
        return 'mid-senior'
    
    if 'sr' in value:
        return 'mid-senior'
    
    if 'lead' in value:
        return 'mid-senior'
    
    elif 'jr' in value:
        return 'associate'
    
    elif 'junior' in value:
        return 'associate'
    
    elif 'intermediate' in value:
        return 'associate'
    
    elif 'entry' in value:
        return 'entry-level'
    
    elif 'intern' in value:
        return 'internship'
    
    elif 'student' in value:
        return 'internship'
    
    else:
        return 'any'

df['experience_level'] = df['job_title'].apply(exp_level)
df['experience_level'].unique()

job title

In [ ]:
df['job_title'].unique()

In [ ]:
def clean_title(value):
    if 'data_analyst' in value:
        return 'data_analyst'
    
    elif 'scientist' in value:
        return 'data_scientist'
    
    elif 'engineer' in value:
        return 'data_engineer'
    
    elif 'business_intelligence' in value:
        return 'business_intelligence_analyst'
    
    elif 'business_system' in value:
        return 'business_systems_analyst'
    
    elif 'business_analyst' in value:
        return 'business_analyst'
    
    elif 'research' in value:
        return 'research_analyst'
    
    elif 'quality' in value:
        return 'quality_analyst'
    
    elif 'marketing' in value:
        return 'marketing_analyst'
    
    elif 'risk' in value:
        return 'risk_analyst'
    
    elif 'investment' in value:
        return 'financial_analyst'
    
    elif 'asset' in value:
        return 'financial_analyst'
    
    elif 'bank' in value:
        return 'financial_analyst'
    
    elif 'sale' in value:
        return 'financial_analyst'
    
    else:
        return 'analyst'
        
df['job_title'] = df['job_title'].apply(clean_title)
df['job_title'].unique()

company name

In [ ]:
df['employer_name'].unique()

In [ ]:
df['employer_name'] = df['employer_name'].str.replace('[^a-zA-Z0-9_]', '')

def clean_employer_name(value):
    if 'financ' in value:
        return 'finance'
    
    elif 'invest' in value:
        return 'finance'
    
    elif 'capital' in value:
        return 'finance'

    elif 'wealth' in value:
        return 'finance'
    
    elif 'manage' in value:
        return 'finance'
    
    elif 'credit' in value:
        return 'finance'
    
    elif 'business' in value:
        return 'finance'
    
    elif 'trans' in value:
        return 'transportation'
    
    elif 'express' in value:
        return 'transportation'
    
    elif 'rail' in value:
        return 'transportation'

    elif 'media' in value:
        return 'media'
    
    elif 'bank' in value:
        return 'banking'
    
    elif 'city' in value:
        return 'government'
    
    elif 'public' in value:
        return 'government'
    
    elif 'police' in value:
        return 'government'
    
    elif 'govern' in value:
        return 'government'
    
    elif 'energy' in value:
        return 'energy'

    elif 'nuclear' in value:
        return 'energy'
    
    elif 'elect' in value:
        return 'energy'
    
    elif 'spark' in value:
        return 'energy'
    
    elif 'insurance' in value:
        return 'insurance'
    
    elif 'college' in value:
        return 'education'
    
    elif 'university' in value:
        return 'education'
    
    elif 'school' in value:
        return 'education'
    
    elif 'edu' in value:
        return 'education'
    
    elif 'health' in value:
        return 'healthcare'
    
    elif 'hospital' in value:
        return 'healthcare'
    
    elif 'medic' in value:
        return 'healthcare'
    
    elif 'pharma' in value:
        return 'healthcare'
    
    elif 'care' in value:
        return 'healthcare'
    
    elif 'farm' in value:
        return 'agriculture'
    
    elif 'metal' in value:
        return 'manufacturing'
    
    elif 'engineer' in value:
        return 'manufacturing'
    
    elif 'manufactur' in value:
        return 'manufacturing'
    
    elif 'machine' in value:
        return 'manufacturing'
    
    elif 'construction' in value:
        return 'construction'
    
    elif 'contracting' in value:
        return 'construction'
    
    elif 'tech' in value:
        return 'technology'
    
    elif 'web' in value:
        return 'technology'
    
    elif 'soft' in value:
        return 'technology'
    
    elif 'systems' in value:
        return 'technology'
    
    elif 'amazon' in value:
        return 'technology'
    
    elif 'estate' in value:
        return 'real_estate'

    elif 'properties' in value:
        return 'real_estate'
    
    elif 'property' in value:
        return 'real_estate'
    
    elif 'macdonald' in value:
        return 'real_estate'
    
    elif 'consult' in value:
        return 'consulting'
    
    elif 'communication' in value:
        return 'telecommunication'
    
    elif 'radio' in value:
        return 'telecommunication'
    
    elif 'food' in value:
        return 'retail'
    
    elif 'walmart' in value:
        return 'retail'
    
    elif 'pepsico' in value:
        return 'retail'
    
    elif 'supermarket' in value:
        return 'retail'
    
    elif 'resort' in value:
        return 'travel'
    
    elif 'travel' in value:
        return 'travel'
    
    elif 'air' in value:
        return 'aerospace'
    
    elif 'flight' in value:
        return 'aerospace'
    
    elif 'aviation' in value:
        return 'aerospace'
    
    elif 'aero' in value:
        return 'aerospace'
    
    elif 'auto' in value:
        return 'automobile'
    
    elif 'driv' in value:
        return 'automobile'
    
    elif 'service' in value:
        return 'service'
    
    else:
        return 'other'
        
df['industry'] = df['employer_name'].apply(clean_employer_name)
df['industry'].unique()

work location

In [ ]:
df['city'].unique()

In [ ]:
df['city'] = df['city'].str.replace('[^_a-zA-Z]', '')

def work_location(value):
    if 'remote' in  value:
        return 'remote'
    else:
        return 'on-site'

df['work_location'] = df['city'].apply(work_location)
df['work_location'].unique()

In [ ]:
def clean_city(value):
    if value.startswith('remote_in_'):
        return value[10:]
    
    elif 'vancouver' in  value:
        return 'vancouver'
    
    elif 'toronto' in  value:
        return 'toronto'
    
    elif value.startswith('_'):
        return value[1:]
    else:
        return value

df['city'] = df['city'].str.replace('montral', 'montreal')
df['city'] = df['city'].apply(clean_city)
df['city'].unique()

province

In [ ]:
df['province'].unique()

In [ ]:
df['province'] = df['province'].replace('unknown', 'unspecified')
df['province'].unique()

salary

In [ ]:
df['salary'] = df['salary'].str.replace('[^a-zA-Z0-9$.-]', '')
df['salary'].unique()

In [ ]:
df['salary'] = df['salary'].str.replace('glassdoorest', '')
df['salary'] = df['salary'].str.replace('employerest', '')
df['salary'] = df['salary'].str.replace('k', '000')
df['salary'] = df['salary'].str.replace('ayear', '')
df['salary'] = df['salary'].str.replace('perhour', '')
df['salary'] = df['salary'].str.replace('anhour', '')
df['salary'] = df['salary'].str.replace('peryear', '')

df['salary'] = df['salary'][df['salary'].str.len() < 20]
df['salary'] = df['salary'].str.replace('[^0-9$-.]', '')

df['salary'] = df['salary'].str.replace('$', '-')
df['salary'] = df['salary'].str.replace('--', '-')
df['salary'].unique()

In [ ]:
def format_sal(value):
    if str(value).startswith('-'):
        return value[1:]
    else:
        return value
    
df['salary'] = df['salary'].apply(format_sal)
df['salary'].unique()

In [ ]:
def format_sal_2(value):
    if str(value).endswith('.'):
        return value[:-1]
    else:
        return value
    
df['salary'] = df['salary'].apply(format_sal_2)
df['salary'] = df['salary'].replace('000', '0')
df['salary'].fillna('0', inplace=True)
df['salary'].unique()

In [ ]:
new = df['salary'].str.split('-', n=1, expand=True)

df['min_salary'] = new[0]
df['max_salary'] = new[1]
df.head()

In [ ]:
df['min_salary'].unique()

In [ ]:
df['min_salary'] = df['min_salary'].replace('000', '0')
df['min_salary'] = df['min_salary'].replace('', '0')

def repeating_sal_value(value):
    if len(str(value)) <= 1:
        return str(value)
    
    if str(value)[0:5] == str(value)[5:10]:
        return str(value)[5:]
    
    elif str(value)[0:6] == str(value)[6:12]:
        return str(value)[6:]
    
    else:
        return str(value)


df['min_salary'] = df['min_salary'].apply(repeating_sal_value)
df['min_salary'].unique()

In [31]:
df['min_salary'] = df['min_salary'].astype('float')

def hourly_pay_to_annual(value):
    if value < 999:
        return (value * 2080)
    else:
        return value

df['min_salary'] = df['min_salary'].apply(hourly_pay_to_annual)

In [ ]:
df['max_salary'].unique()

In [ ]:
df['max_salary'] = df['max_salary'].str.replace('-', '')
df['max_salary'] = df['max_salary'][df['max_salary'].str.len() < 7]
df['max_salary'].fillna('0', inplace=True)
df['max_salary'].unique()

In [34]:
df['max_salary'] = df['max_salary'].astype('float')
df['max_salary'] = df['max_salary'].apply(hourly_pay_to_annual)

In [ ]:
df['avg_salary'] = (df[df['min_salary'] > 0]['min_salary'] + df[df['max_salary'] > 0]['max_salary'] / 2).round(2)
df = df.drop(columns=['salary'])
df.info()
df.head()

In [ ]:
print(df[df['min_salary'] > 0].groupby('job_title')['min_salary'].mean().round(2))
print(df[df['max_salary'] > 0].groupby('job_title')['max_salary'].mean().round(2))
print(df[df['avg_salary'] > 0].groupby('job_title')['avg_salary'].mean().round(2))

In [ ]:
print(df[df['min_salary'] > 0].groupby('job_title')['min_salary'].median())
print(df[df['max_salary'] > 0].groupby('job_title')['max_salary'].median())
print(df[df['avg_salary'] > 0].groupby('job_title')['avg_salary'].median())

In [ ]:
med_fillin = df[(df['min_salary'] > 0) & (df['max_salary'] > 0) & (df['avg_salary'] > 0)].groupby('job_title').agg({'min_salary': 'median',
                                                                                                                    'max_salary': 'median',
                                                                                                                    'avg_salary': 'median'})

med_fillin.columns = ['median_min_sal', 'median_max_sal', 'median_avg_sal']
med_fillin = med_fillin.round(2)
med_fillin

In [ ]:
(df['min_salary'] == 0).count()

In [ ]:
(df['max_salary'] == 0).count()

In [ ]:
(df['avg_salary'] == 0).count()

In [42]:
df.loc[((df['job_title'] == 'analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][0])
df.loc[((df['job_title'] == 'analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][0])
df.loc[((df['job_title'] == 'analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][0])

df.loc[((df['job_title'] == 'business_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][1])
df.loc[((df['job_title'] == 'business_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][1])
df.loc[((df['job_title'] == 'business_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][1])

df.loc[((df['job_title'] == 'business_intelligence_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][2])
df.loc[((df['job_title'] == 'business_intelligence_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][2])
df.loc[((df['job_title'] == 'business_intelligence_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][2])

df.loc[((df['job_title'] == 'business_systems_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][3])
df.loc[((df['job_title'] == 'business_systems_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][3])
df.loc[((df['job_title'] == 'business_systems_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][3])

df.loc[((df['job_title'] == 'data_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][4])
df.loc[((df['job_title'] == 'data_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][4])
df.loc[((df['job_title'] == 'data_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][4])

df.loc[((df['job_title'] == 'data_engineer') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][5])
df.loc[((df['job_title'] == 'data_engineer') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][5])
df.loc[((df['job_title'] == 'data_engineer') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][5])

df.loc[((df['job_title'] == 'data_scientist') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][6])
df.loc[((df['job_title'] == 'data_scientist') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][6])
df.loc[((df['job_title'] == 'data_scientist') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][6])

df.loc[((df['job_title'] == 'financial_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][7])
df.loc[((df['job_title'] == 'financial_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][7])
df.loc[((df['job_title'] == 'financial_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][7])

df.loc[((df['job_title'] == 'marketing_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][8])
df.loc[((df['job_title'] == 'marketing_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][8])
df.loc[((df['job_title'] == 'marketing_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][8])

df.loc[((df['job_title'] == 'quality_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][9])
df.loc[((df['job_title'] == 'quality_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][9])
df.loc[((df['job_title'] == 'quality_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][9])

df.loc[((df['job_title'] == 'research_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][10])
df.loc[((df['job_title'] == 'research_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][10])
df.loc[((df['job_title'] == 'research_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][10])

df.loc[((df['job_title'] == 'risk_analyst') & (df['min_salary'] == 0)), 'min_salary'] = (med_fillin['median_min_sal'][11])
df.loc[((df['job_title'] == 'risk_analyst') & (df['max_salary'] == 0)), 'max_salary'] = (med_fillin['median_max_sal'][11])
df.loc[((df['job_title'] == 'risk_analyst') & (df['avg_salary'] == 0)), 'avg_salary'] = (med_fillin['median_avg_sal'][11])

web_platform

In [ ]:
df['web_platform'].unique()

In [ ]:
def clean_web(value):
    if value.startswith('https://ca.indeed'):
        return 'indeed'

    elif value.startswith('https://www.glassdoor'):
        return 'glassdoor'
        
df['web_platform'] = df['web_platform'].apply(clean_web)
df['web_platform'].unique()

[Back to Table of Contents](#back)

## Exploratory Data Analysis

In [ ]:
df.head()

In [ ]:
df[df['city'] != 'remote']['city'].value_counts().sort_values(ascending=False).head(20)

In [ ]:
# Create a map centered on Canada
canada_map = folium.Map(location=[56.1304, -106.3468],
                        zoom_start=4,
                        tiles='cartodb positron')

# Locations of top 10 hubs with most job postings (non-remote)
top_10_cities = [['43.6532', '-79.3832', 'Toronto', '446 Job Openings'],
                 ['43.5953', '-79.6405', 'Mississauga', '117 Job Openings'],
                 ['49.2462', '-123.1162', 'Vancouver', '114 Job Openings'],
                 ['45.5088', '-73.5616', 'Montreal', '104 Job Openings'],
                 ['51.0499', '-114.0666', 'Calgary', '101 Job Openings'],
                 ['53.6316', '-113.3239', 'Edmonton', '60 Job Openings'],
                 ['43.8560', '-79.3370', 'Markham', '49 Job Openings'],
                 ['45.4247', '-75.6950', 'Ottawa', '48 Job Openings'],
                 ['43.7315', '-79.7666', 'Brampton', '38 Job Openings'],
                 ['49.8950', '-97.1384', 'Winnipeg', '30 Job Openings']]

# Loop for map markers
for row in top_10_cities:
    folium.Marker(location=[row[0], row[1]],
                  tooltip=row[3],
                  popup=row[2],
                  icon=folium.Icon(color='red',
                                    icon='info-sign')).add_to(canada_map)
    
    folium.CircleMarker(location=[row[0], row[1]],
                        radius=10,
                        popup=row[2],
                        color='red',
                        fill=True,
                        fill_color='red').add_to(canada_map)
    
canada_map.save('canada_map.html')
canada_map

[Back to Table of Contents](#back)

## Conclusions and Reccomendations

[Back to Table of Contents](#back)

## Dataset Citation

syntax:
[Dataset creator's name]. ([Year &amp; Month of dataset creation]). [Name of the dataset], [Version of the dataset]. Retrieved [Date Retrieved] from [Kaggle](URL of the dataset).

example:
Tatman, R. (2017, November). R vs. Python: The Kitchen Gadget Test, Version 1. Retrieved December 20, 2017 from https://www.kaggle.com/rtatman/r-vs-python-the-kitchen-gadget-test.

[Back to Table of Contents](#back)