# Canadian Data Analyst Job Listing Analysis

## Table of Contents <a id='back'></a>
- [Project Introduction](#project-introduction)
    - [Analysis Outline](#analysis-outline)
    - [Results](#results)
- [Importing Libraries and Opening Data Files](#importing-libraries-and-opening-data-files)
- [Pre-Processing Data](#pre-processing-data)
    - [Duplicates](#duplicates)
    - [Missing Values](#missing-values)
    - [Removing Irrelevant Data](#removing-irrelevant-data)
    - [Data Structure Overhaul](#data-structure-overhaul)
        - [Header Style](#header-style)
        - [Formatting and Data Usage](#formatting-and-data-usage)
- [Exploratory Data Analysis](#exploratory-data-analysis)
- [Conclusions and Reccomendations](#conclusions-and-reccomendations)
- [Dataset Citation](#dataset-citation)

## Project Introduction

[project intro]

### Analysis Outline

[Analysis Outline]

### Results

[Results]

[Back to Table of Contents](#back)

## Importing Libraries and Opening Data Files

In [1]:
# Importing the needed libraries for this assignment
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
# Importing file for assignment
try:
    df = pd.read_csv('Raw_Dataset.csv', sep=',')
except:
    df = pd.read_csv('/datasets/Raw_Dataset.csv', sep=',')

[Back to Table of Contents](#back)

## Pre-Processing Data

### Duplicates

In [3]:
# Checking for duplicates
df.duplicated().sum()

0

[Back to Table of Contents](#back)

### Missing Values

In [4]:
# Checking for null values
df.isna().sum()

Job ID                  0
Job Title               0
Company Name            0
Language and Tools    167
Job Salary            557
City                    0
Province              118
Job Link                0
dtype: int64

In [5]:
# Filling in null values
df.fillna({'Language and Tools': 'unknown',
           'Job Salary' : 'unknown',
           'Province' : 'unknown'}, inplace = True)
df.isna().sum()

Job ID                0
Job Title             0
Company Name          0
Language and Tools    0
Job Salary            0
City                  0
Province              0
Job Link              0
dtype: int64

[Back to Table of Contents](#back)

### Removing Irrelevant Data

In [6]:
# Removing columns we do not need for this analysis
df = df.drop(columns=['Job ID'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           1796 non-null   object
 1   Company Name        1796 non-null   object
 2   Language and Tools  1796 non-null   object
 3   Job Salary          1796 non-null   object
 4   City                1796 non-null   object
 5   Province            1796 non-null   object
 6   Job Link            1796 non-null   object
dtypes: object(7)
memory usage: 98.3+ KB

[Back to Table of Contents](#back)

### Data Structure Overhaul

In [7]:
df.describe()

,Job Title,Company Name,Language and Tools,Job Salary,City,Province,Job Link
count,1796,1796,1796,1796,1796,1796,1796
unique,811,790,1057,855,172,14,1761
top,Business Analyst,Scotiabank,unknown,unknown,Toronto,ON,https://www.glassdoor.ca/job-listing/business-...
freq,90,24,167,557,426,949,3

#### Header Style

In [8]:
# Getting general information about the dataset
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           1796 non-null   object
 1   Company Name        1796 non-null   object
 2   Language and Tools  1796 non-null   object
 3   Job Salary          1796 non-null   object
 4   City                1796 non-null   object
 5   Province            1796 non-null   object
 6   Job Link            1796 non-null   object
dtypes: object(7)
memory usage: 98.3+ KB

,Job Title,Company Name,Language and Tools,Job Salary,City,Province,Job Link
0,Binance Accelerator Program - Data Analyst (Risk),Binance,"Python, Sql",unknown,Remote,unknown,https://ca.indeed.com/rc/clk?jk=9c7f38160c736c...
1,Business Analyst,Canadian Nuclear Laboratories,"Power Bi, Power BI, Excel",unknown,Remote,unknown,https://ca.indeed.com/rc/clk?jk=0da15fed6a515f...
2,Geophysicist/Data Analyst,Sander Geophysics Limited,unknown,unknown,Ottawa,ON,https://ca.indeed.com/rc/clk?jk=2dc0470241aa60...
3,Business Intelligence Data Engineer,"Maximus Services, LLC","Fabric, Power BI, Sql, Machine Learning, Genes...","87,875Ã¢â‚¬â€œ$105,000 a year",Toronto,ON,https://ca.indeed.com/rc/clk?jk=cbbe0e29b236d2...
4,"BUSINESS INTELLIGENCE SPECIALIST, FT",Niagara Health System,"Azure, Power BI, SQL, Aws",55.39Ã¢â‚¬â€œ$62.66 an hour,Niagara,ON,https://ca.indeed.com/rc/clk?jk=fe8ad423818b24...

In [9]:
#checking for snakecase format
df.columns

Index(['Job Title', 'Company Name', 'Language and Tools', 'Job Salary', 'City',
       'Province', 'Job Link'],
      dtype='object')

In [10]:
# Renaming column names to snake_case format
df = df.rename(columns={'Job Title': 'job_title',
                        'Company Name': 'company_name',
                        'Language and Tools': 'tech_skills',
                        'Job Salary': 'salary',
                        'City': 'city',
                        'Province': 'province',
                        'Job Link': 'web_platform'})
df.columns

Index(['job_title', 'company_name', 'tech_skills', 'salary', 'city',
       'province', 'web_platform'],
      dtype='object')

[Back to Table of Contents](#back)

#### Formatting and Data Usage

In [11]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     1796 non-null   object
 1   company_name  1796 non-null   object
 2   tech_skills   1796 non-null   object
 3   salary        1796 non-null   object
 4   city          1796 non-null   object
 5   province      1796 non-null   object
 6   web_platform  1796 non-null   object
dtypes: object(7)
memory usage: 98.3+ KB

,job_title,company_name,tech_skills,salary,city,province,web_platform
0,Binance Accelerator Program - Data Analyst (Risk),Binance,"Python, Sql",unknown,Remote,unknown,https://ca.indeed.com/rc/clk?jk=9c7f38160c736c...
1,Business Analyst,Canadian Nuclear Laboratories,"Power Bi, Power BI, Excel",unknown,Remote,unknown,https://ca.indeed.com/rc/clk?jk=0da15fed6a515f...
2,Geophysicist/Data Analyst,Sander Geophysics Limited,unknown,unknown,Ottawa,ON,https://ca.indeed.com/rc/clk?jk=2dc0470241aa60...
3,Business Intelligence Data Engineer,"Maximus Services, LLC","Fabric, Power BI, Sql, Machine Learning, Genes...","87,875Ã¢â‚¬â€œ$105,000 a year",Toronto,ON,https://ca.indeed.com/rc/clk?jk=cbbe0e29b236d2...
4,"BUSINESS INTELLIGENCE SPECIALIST, FT",Niagara Health System,"Azure, Power BI, SQL, Aws",55.39Ã¢â‚¬â€œ$62.66 an hour,Niagara,ON,https://ca.indeed.com/rc/clk?jk=fe8ad423818b24...

In [12]:
# Changing all elements into snakecase format
for column in df.columns:
  df[column] = df[column].str.lower()
  df[column] = df[column].str.replace(' ', '_')

df.head()

,job_title,company_name,tech_skills,salary,city,province,web_platform
0,binance_accelerator_program_-_data_analyst_(risk),binance,"python,_sql",unknown,remote,unknown,https://ca.indeed.com/rc/clk?jk=9c7f38160c736c...
1,business_analyst,canadian_nuclear_laboratories,"power_bi,_power_bi,_excel",unknown,remote,unknown,https://ca.indeed.com/rc/clk?jk=0da15fed6a515f...
2,geophysicist/data_analyst,sander_geophysics_limited,unknown,unknown,ottawa,on,https://ca.indeed.com/rc/clk?jk=2dc0470241aa60...
3,business_intelligence_data_engineer,"maximus_services,_llc","fabric,_power_bi,_sql,_machine_learning,_genes...","87,875ã¢â‚¬â€œ$105,000_a_year",toronto,on,https://ca.indeed.com/rc/clk?jk=cbbe0e29b236d2...
4,"business_intelligence_specialist,_ft",niagara_health_system,"azure,_power_bi,_sql,_aws",55.39ã¢â‚¬â€œ$62.66_an_hour,niagara,on,https://ca.indeed.com/rc/clk?jk=fe8ad423818b24...

In [13]:
df['job_title'].unique()

array(['binance_accelerator_program_-_data_analyst_(risk)',
       'business_analyst', 'geophysicist/data_analyst',
       'business_intelligence_data_engineer',
       'business_intelligence_specialist,_ft',
       'continuous_improvement_analyst', 'it_business_process_analyst',
       'computer_programmer/analyst',
       'senior_developer,_business_intelligence',
       'opgt_mod_ã¢â‚¬â€œ_one_(1)_business_analyst_ã¢â‚¬â€œ_senior',
       'business_analyst/quality_assurance_analyst',
       'capital_&_maintenance_program_analyst', 'senior_policy_analyst',
       'business_operations_analyst_(1_year_contract)',
       'senior_business_systems_analyst',
       'research_analyst_-_translational_addiction_research_laboratory',
       'payroll_analyst', 'lead_business_analyst', 'data_analyst',
       'hr_technology_lead_and_data_analyst', 'business_data_analyst',
       '(data-driven)_marketing_analyst', 'quality_analyst',
       'technology_risk_analyst', 'technical_support_analyst_',
       'technical_support_analyst_ã¢â‚¬â€œ_it_/_database_management',
       'bioinformatics_systems_analyst', 'senior_systems_analyst',
       'analyst,_business_procurement', 'policy_analyst',
       'bilingual_senior_analyst_corporate_investigations',
       'sustainability_analyst', 'data_analyst_-_informatics_and_systems',
       'c-ge-916_ã¢â‚¬â€œ_data_analyst',
       'advanced_data_analyst_-_frostbite',
       'analyst,_human_resources_analytics', 'technical_data_analyst',
       'data_analyst_-_product', 'data_business_analyst',
       'data_management_analyst', 'business_intelligence_analyst',
       'research_analyst',
       'part-time_data_quality_analyst_(fraud_investigation)',
       'it_cost_business_analyst', 'analyst,_business_intelligence',
       'senior_data_engineering_analyst',
       'principal_services_operations_analyst', 'treasury_data_analyst',
       'business_intelligence_specialist', 'senior_business_analyst',
       'associate_it_business_analyst', 'decision_support_analyst',
       'analyst,_digital_advisory_federal_government',
       'data-driven_marketing_analyst',
       'fpss_quality_coordination_analyst',
       'analyst,_business_-_computer_systems',
       'business_systems_analyst_10_yrs_(sql,_big_data,_credit_risk,_banking_loan_book,_python)',
       'admn_o_24r_-_policy_analyst',
       'analyst,_business_performance,_bilingual_or_english',
       'continuous_improvement/business_analyst',
       'analyst,_transaction_management',
       'business_systems_analyst_(computer_services_officer_3)',
       'business_systems_analyst,_capital_markets_technology,_derivative_products',
       'business_analyst_manager',
       'senior_business_intelligence_specialist',
       'analyst_sr,_strategy_&_business_dev.',
       'teknaform_senior_business_analyst',
       'contact_center_business_analyst', 'investment_reporting_analyst',
       'analyst,_capital_gov_&_reporting', 'marketing_analyst',
       'analyst,_marketing', 'project_analyst',
       'business_systems_analyst', 'pricing_&_revenue_management_analyst',
       'marketing_science_analyst',
       'ndt_eddy_current_data_analyst_-_project_manager',
       'accounting_analyst_and_supervisor', 'sr._pricing_analyst',
       "'senior_manager,_business_intelligence_and_reporting,_enterprise_insider_risk_management",
       "'senior_manager,_business_intelligence_and_reporting,_enterprise_conduct_risk_management",
       'lead_business_systems_analyst_(sap_successfactors)',
       'treasury_analyst', 'total_rewards_analyst',
       'fcm_-_data_quality_analyst-_remote,_canada',
       'data_analyst_(street_operations)', 'res_o_21r_-_data_analyst',
       'data_centre_analyst', 'business_configuration_analyst',
       'performance_data_analyst_(internal_only)',
       'business_intelligence_developer',
       'intermediate_data_support_analyst_(6-month_contract)',
       'program_data_analyst', 'quantitative_data_analyst',
       'methods_analyst_i_-_wellness_data_analyst',
       'analyst,_local_sales_pricing', 'jr._qa_analyst',
       'senior_analyst,_data_integration,_methods_and_tools',
       'business_data_analyst,_reporting_&_audit',
       'business_systems_analyst_(technical)',
       'senior_business_analyst_(data)',
       'supply_chain_&_master_data_analyst',
       'business_analyst_student,_transportation_analytics_(12_months)_-_fall_2024',
       'business_data_analyst,_retro_admin', 'blue_box_analyst',
       'business_analyst_student,_courier_operations_(12_months)_-_fall_2024',
       'analyst,_global_investment_banking,_global_diversified_industries',
       'business_intelligence_consulting_associate_-_summer_2025',
       'programmer_analyst', 'servicing_analyst',
       'financial_data_analyst_and_report_developer', 'senior_qa_analyst',
       'principal_business_continuity_analyst',
       'it_business_analyst_-_regular_full-time',
       'business_systems_analyst,_capital_markets_technology,_hybrid',
       'business_analyst,_servicenow,_scotiabank',
       'customs_compliance_analyst',
       'business_analyst-_captial_markets_@_toronto_-_hybrid_-_fulltime',
       'database_analyst', 'senor._analyst,_people_process_&_technology',
       'asset_investment_analyst',
       '2024_capital_markets,_global_credit,_fall_business_systems_analyst_(4_months)',
       'senior_allocations_analyst', 'functional_analyst',
       'senior_analyst,_health_indicators_and_client_support',
       'technical_business_analyst,_capital_markets_technology_with_credit_derivatives',
       'senior_business_analyst,_gft',
       'senior_business_analyst_-_supply_chain_optimization',
       'loyalty_campaign_&_offer_analyst',
       'pricing_&_legal_project_management_analyst',
       'claims_compliance_analyst_-', 'business_analyst_7735-0214',
       'senior_business_intelligence_engineer_(gcs)',
       'senior_actuarial_analyst',
       'board_and_ceo_practice,_senior_business_analyst',
       'senior_analyst,_revenue_growth_pricing',
       'senior_business_analyst_order_to_cash',
       'learning_&_development_analyst_student',
       'technical_business_analyst,_capital_markets_technology,_efx',
       'senior_analyst_supply_chain_systems',
       'data_analyst_&_bi_specialist',
       'data_analyst,_business_intelligence', 'senior_data_analyst',
       'power_bi_developer_|_data_analyst',
       'data_and_business_intelligence_analyst',
       'data_analyst,_born_ontario,_temporary_full-time_(1.0)',
       'program_reporting_analyst',
       'program_management,_business_analyst_(16_month_contract)',
       'data_integrity_analyst', 'business_analyst,_sr',
       'field_data_capture_analyst', 'analyst,_business_systems',
       'business_analyst_-pharmacy', 'banking_operations_analyst',
       'medical_information_analyst_(health_information_management_professional)_(12_month_term)',
       'senior_data_analyst,_data_analysis_chapter', 'inventory_analyst',
       'business_system_analyst_-data_engineer',
       'analyst,_supply_chain_management', 'supply_chain_analyst',
       'senior_business_process_analyst',
       'sustainable_investing_analyst_(6-month_contract)',
       'hris_analyst_-_8_to_12_month_term',
       'power_market_analyst_-_24321', 'business_analyst_-_ottawa',
       'research_analyst_(green_infrastructure)', 'fp&a_business_analyst',
       'operations_analyst_(business_operations)',
       'senior_analyst,_fraud_strategy_&_analytics',
       'business_analyst_consultant,_savings_&_retirement_(s&r)',
       'intern_-_crm_analyst_(fall_2024)',
       'business_analyst_-_computer_systems',
       'industrial_process_analyst', 'pricing_analyst',
       'analyst,_network-gis-ns&uc_s', 'strategic_sourcing_analyst',
       'business_systems_analyst_(network_services)',
       'econ_24r_-_economic_analyst', 'senior_technical_business_analyst',
       'sr._analyst,_omni_channel', 'senior_procurement_analyst',
       'senior_business_analyst,_it_business_solutions_[oneit]',
       'senior_actuarial_analyst_-', 'information_analyst_-_data_quality',
       'analyst,_data_valorization', 'data_quality_analyst,_tft',
       'analyst_technology_strategy', 'lead,_manufacturing_analyst',
       'analyst_ii,_backbook_risk',
       'policy,_planning_and_research_analyst',
       'operations_technical_analyst',
       'business_analyst_student,_fleet_services_(12_months)_-_fall_2024',
       'systems_analyst', 'senior_technology_risk_analyst',
       'continuous_improvement_analyst_-_(12_month_term_certain)',
       'senior_analyst', 'senior_information_analyst',
       'analyst_-_accounts_payable',
       'data_analyst_ii_(temporary_ã¢â‚¬â€œ_6_months)_-_(google_analytics,_adobe_analytics)',
       'oracle_erp_data_analyst_ã¢â‚¬â€œ_reconciliation_specialist',
       'analyst,_discretionary_reconciliation_&_systems',
       'senior_analyst,_primary_health_care_strategy_and_data_advancement',
       'marketing_data_analyst/analyste_des_donnãƒâ©es_marketing',
       'inside_sales_rep_&_junior_business_analyst', 'cfd_analyst',
       'senior_analyst,_operations,_controls_and_governance',
       'data_insights_analyst', 'sr_securities_data_analyst',
       'client_analyst-_surgical_instruments',
       'senior_business_analyst,_scheduling_(10-month_contract)',
       'business_systems_analyst,_liquidity_risk',
       'edp_(electronic_data_processing)_systems_analyst',
       'consultant,_senior_business_analyst',
       'measurement_services_business_analyst',
       'analyst,_valuation_advisory',
       'business_analyst_specialist-_fixed_income_application_support',
       'senior_reinsurance_analyst', 'accounting_research_analyst',
       'procurement_analyst',
       'investment_appraisal_&_portfolio_management_analyst',
       'business_process_analyst', 'analyst,_supply_chain_replenishment',
       'estimator/procurement_analyst', 'technical_solutions_analyst',
       'sr._analyst_compensation',
       'senior_database_analyst_-_postgresql_cloud_dba_-_hybrid',
       'career_re-entry_-_operations_training_reporting_analyst_v',
       'bilingual_servicing_analyst',
       'data_insight_and_reporting_analyst',
       'data_analyst_with_python_and_etl', 'crime_analyst',
       'reporting_and_business_intelligence_analyst',
       'data_analyst_intern',
       'data_analyst_erp_project_(3_years_contract)',
       'technical_platform_analyst_ã¢â‚¬â€œ_data_visualization',
       'senior_quantitative_equity_analyst_ã¢â‚¬â€œ_alternative_data',
       'senior_data_solution_analyst', 'senior_fraud_data_analyst',
       'analyst,_data_integrity_and_key_controls',
       'senior_analyst,_meter_data', 'marketing_database_analyst',
       'information_technology_(it)_data_analyst',
       'analyst,_technology_investment_portfolio', 'compensation_analyst',
       'infrastructure_data_analyst', 'media_analyst',
       'project_coordinator_and_business_analyst',
       'deal_desk_and_channel_analyst',
       'career_re-entry_analyst_tis_cybersecurity', 'sr._data_analyst',
       'senior_analyst,_intermodal_systems_and_processes',
       'artificial_intelligence_(ai)_analyst',
       'analyst_ii,_expansion_credit', 'procurement_data_analyst',
       'it_business_analyst',
       'business_intelligence_engineer_north_america',
       'dental_investigative_analyst,_fraud_risk_management',
       'analyst,_data_management_-_trans-canada_capital', 'murex_analyst',
       'intermediate_analyst', 'business_analyst_ll',
       'performance_media_analyst', 'senior_business_insights_analyst',
       'pension_data_integrity_analyst', 'analyst,_data_integrity',
       'senior_analyst,_franchise_acceptance_performance',
       'analyst/administrative_assistant', 'analyst,_flight_data',
       'geographic_information_systems_(gis)_analyst',
       'business_system_analyst_-_data_engineer',
       'senior_pricing_model_analyst',
       'information_technology_-_business_intelligence_analyst',
       'analyst,_database', 'bi/etl_developer',
       'power_bi_report_developer_7692-3015', 'freight_analyst',
       'director_business_intelligence', 'geospatial_analyst',
       'business_strategy,_decision_support_and_fiscal_planning_analyst',
       'market_research_analyst_(full_time)_windsor,_on',
       'data_&_insights_analyst/analyste_de_donnãƒâ©es_et_perspectives',
       'senior_marketing_science_analyst',
       'risk_&_payments_data_analyst/analyste_de_donnãƒâ©es_risques_&_paiements',
       'credit_analyst_-_business_banking',
       'strategy_analyst,_people_&_culture', 'gis_analyst',
       'quality_assurance_analyst', 'digital_optimization_analyst',
       'grid_operations_advisor_(business_analyst)_|_ontario',
       'senior_strategic_business_analyst',
       'senior_business_analyst_(halifax)',
       'facility_asset_management_data_analyst',
       'business_intelligence_analyst_-_information_technology_(it)',
       'it_(information_technology)_business_analyst',
       'analyst,_quality_assurance',
       'temporary_senior_analyst_-_gis_planning_-_jws_(35_hrs)',
       'analyst/administrative_assistant,_clinical_informatics',
       'lmr_system_performance_analyst', 'reforestation_standard_analyst',
       'workday_consultant_&_analyst', 'sr._business_analyst',
       'senior_data_system_analyst_(_snowflake,_hadoop,_etl_,_informatica)',
       'sr_portfolio_analyst',
       'analyst_senior,_strategy_&_business_development',
       'senior_analyst,_credit_risk_-_digital_banking',
       'investor_relations_analyst', 'business_technology_analyst',
       'senior_business_analyst,_technology_architecture',
       'business_analyst,_commercial_services_(commercial_banking_analyst)',
       'engagement_and_research_analyst',
       'software_engineer_ii_-_speech_analyst',
       'analyste_spãƒâ©cialisãƒâ©_en_informatique/_specialized_data_analyst_1000-846',
       'client_support_analyst',
       'sr._business_analyst_ã¢â‚¬â€œ_liquidity_reporting',
       'institutional_analyst',
       'senior_analyst,_clinical_administrative_databases',
       'market_research_analyst', 'business_analyst_0149-3010',
       'logistics_analyst', 'research_analyst_student_(ras-0724-t)',
       'senior_analyst,_global_compliance_&_aml_reporting', 'hse_analyst',
       'benefits_hr_analyst',
       'business_analyst,_budget_&_internal_reporting',
       'analyste_spãƒâ©cialisãƒâ©_en_informatique_-_cybersãƒâ©curitãƒâ©/_specialized_data_analyst',
       'senior_pricing_analyst',
       'pipe_integrity_analyst_(daytime_support)',
       'work_integrated_learning_systems_analyst',
       'senior_front_office_business_analyst_with_metals_trading_background',
       'sap_master_data_analyst', 'pay_and_benefits_analyst',
       'senior_analyst_-_superior_gas_liquids', 'business_analyst_staff',
       's_-_senior_it_business_analyst_(vancouver)',
       'analyst_operational_assessments_mti',
       'capital_planning_analyst_(contract)',
       'accounting_analyst_(transportation)', 'systems_analyst_ii',
       'senior_continuous_improvement_analyst_(people_and_culture)_(telework/hybrid)',
       'analyst,_cloud_cost_management-hybrid',
       'business_analyst_7746-0215', 'senior_it_business_analyst',
       'm365_development_&_collaboration_solutions_business_analyst_[oneit]',
       'wellbeing_and_rewards_analyst',
       'business_systems_analyst_-_systems_trainer',
       'planning_analyst_and_performance_executive',
       'systems_reliability_analyst_(sra)',
       'sap_s4/hana_master_data_analyst_(12-month_contract)',
       'senior_business_systems_analyst,_gft',
       'program_admin_officer_4_(senior_analyst)',
       'supply_chain_replenishment_analyst',
       'business_systems_analyst_(enterprise_applications)',
       'scrum_master_bi', 'mainframe_business_systems_analyst',
       'business_process_analyst_-_dc_&_ai',
       'intelligent_automation_analyst_-_mandatory_bilingual._must_speak_french',
       'trade_marketing_analyst', 'cost_accounting_analyst',
       'physician_compensation_analyst',
       'it_senior_business_analyst,_scheduling_&_distribution_(t_&_i)_(hybrid)',
       'energy_systems_operation_analyst',
       'bilingual_policy_analyst,_early_learning_and_elementary-secondary_education',
       'analyste_multidisciplinaire_en_mãƒâ©canique_/_multi-disciplinary_mechanical_analyst',
       'commercial_analyst',
       'sr_analyst,_actuarial-_personal_insurance_pricing',
       'accounts_receivable_analyst', 'senior_servicing_analyst',
       'dãƒâ©veloppeur-analyste_power_bi',
       'registered_behaviour_analyst_(rba)',
       'compensation_consulting_analyst_-_people_advisory_services,_rewards_-_toronto',
       'logistic_&_distribution_analyst',
       'operations_analyst,_business_lending_-_2_year_term_opportunity',
       'actuarial_analyst,_commercial_insurance_-_pricing',
       'business_system_analyst_-_sap_fico', 'senior_tax_analyst',
       'intermediate_actuarial_analyst,_commercial_insurance_pricing',
       'business_analyst_position_(remote)',
       'associate_pm/business_analyst_(open_to_north,_central,_and_south_america)',
       'information_and_data_management_advisor/analyst/officer',
       'specialist,_business_intelligence_data_warehouse',
       'senior_data_analyst,_pricing_and_finance',
       'senior_business_data_analyst',
       'capacity_planning_analyst,_workforce_management',
       'risk_analyst,_third_party_risk_management',
       'business_and_quality_assurance_analyst,_scotiabank',
       'analyst,_marketing_analytics', 'hr_servicenow_analyst',
       'strategic_risk_growth_analyst',
       'analyst_ii,_credit_analytics,_full_stack',
       'windsor_police_service_-_systems_analyst,_business_solutions',
       'research_analyst_1', 'merchandise_analyst', 'risk_analyst',
       'analyst,_reliability',
       'business_intelligence_specialist_analytics_(with_qlik_experience)',
       'portfolio_management_analyst,_quantitative_equity',
       'chief_functional_and_data_analyst',
       'functional_analyst,_process_improvement', 'emr_analyst',
       'business_analyst_intern/junior', 'customer_solution_analyst',
       'it_business_analyst,_intact_lab',
       'business_support_systems_analyst', 'marketing_data_analyst',
       'business_intelligence_&_analytics_student-fall_2024_co-op',
       'sr._analyst,_business_intelligence', 'data_warehouse_analyst',
       'senior_compensation_analyst', 'risk_&_audit_analyst',
       'product_support_analyst_-_database_and_etl', 'operations_analyst',
       'programs_data_analyst', 'business_system_analyst',
       'bsan-business_systems_analyst',
       'hrt_applications_business_analyst', 'data_and_policy_analyst_ii',
       'junior_analyst_position', 'revenue_operations_business_analyst',
       'demand_planning_analyst', 'business_analyst_senior_7698-1809',
       'cost_and_pricing_analyst',
       'broadridge_specialized_analyst_-_only',
       'business_analyst_-_core_operations', 'business_analyst,_workday',
       'fuel_pricing_analyst',
       'b2c_business_systems_analyst_toronto,_canada_information_technology',
       'calgary_based_data_analyst_i-iii_-_mfl/geo_pipeline_in-line_inspection_&_data_imu_analyst',
       'cost_analyst', 'senior_logistics_analyst',
       'accounting/reporting_analyst',
       'business_intelligence_developer_(local_to_quebec)',
       'laboratory_analyst_(4-month_contract)',
       '24-144_business_solutions_analyst',
       'sr._business_systems_analyst_(salesforce)',
       'ecommerce_brand_advocate_analyst_-_hybrid_-_12_month_contract',
       'senior_technical_business_systems_analyst_(hybrid_temporary_assignment_until_july_2025)',
       'digital_supply_chain_planning_analyst',
       'lifespan_cognition_lab_data_analyst_lead',
       'sr_analyst,_sustainability',
       'capital_surveillance_analyst_-_investor_relations',
       'business_intelligence_engineer,_supply_chain_optimization_technologies,_fulfillment_availability',

In [14]:
df['job_title'] = df['job_title'].str.replace('[^a-zA-Z0-9_]', '')

def clean_title(value):
    if 'data_analyst' in value:
        return 'data_analyst'
    
    elif 'data' in value:
        return 'data_analyst'
    
    elif 'business_intelligence' in value:
        return 'business_intelligence_analyst'
    
    elif 'business_system' in value:
        return 'business_systems_analyst'
    
    elif 'business_analyst' in value:
        return 'business_analyst'
    
    elif 'research' in value:
        return 'research_analyst'
    
    elif 'quality' in value:
        return 'quality_analyst'
    
    elif 'marketing' in value:
        return 'marketing_analyst'
    
    elif 'risk' in value:
        return 'risk_analyst'
    
    elif 'investment' in value:
        return 'financial_analyst'
    
    elif 'asset' in value:
        return 'financial_analyst'
    
    elif 'bank' in value:
        return 'financial_analyst'
    
    elif 'sale' in value:
        return 'financial_analyst'
    
    else:
        return 'analyst'
        
df['job_title'] = df['job_title'].apply(clean_title)
df['job_title'].unique()

C:\Users\jason\AppData\Local\Temp\ipykernel_19376\1932839737.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['job_title'] = df['job_title'].str.replace('[^a-zA-Z0-9_]', '')

array(['data_analyst', 'business_analyst',
       'business_intelligence_analyst', 'analyst',
       'business_systems_analyst', 'research_analyst', 'quality_analyst',
       'risk_analyst', 'financial_analyst', 'marketing_analyst'],
      dtype=object)

In [15]:
df['web_platform'].unique()

array(['https://ca.indeed.com/rc/clk?jk=9c7f38160c736c78&bb=jmruzegvy_2zalhxc3miarbrfhvpjxoqvuat4gd16kuzbzqrzaincbr5w5gdefrfr5lvttdosyg3qraanlxcud9iaz4zngshhlixaeof9ezgpfkdnjt04v6cwqv09nog&xkcb=sobd67m39kh62wxbjh0lbzkdcdpp&fccid=ac2ee5578fa99fc9&vjs=3',
       'https://ca.indeed.com/rc/clk?jk=0da15fed6a515fe5&bb=jmruzegvy_2zalhxc3miapjgjclvcfqucxinmd0zx2fshgsye-wbutyscwefufuqm7kud9rgnijbjxw5y4k44be95otvsctpsv-_tqrmi8c76pdkhl3qnw%3d%3d&xkcb=sodp67m39kh62wxbjh0kbzkdcdpp&fccid=a0da53533519eae5&vjs=3',
       'https://ca.indeed.com/rc/clk?jk=2dc0470241aa6066&bb=jmruzegvy_2zalhxc3miag9ccuaulow1dzrh0spiltfpceyi0f2m_v0njmm3elktji6ouhs2jvoouz1hcgxjwqz2odtgrbbdrvebiynjejz0unmkp5mtk3blskfesl9l&xkcb=sob067m39kh62wxbjh0jbzkdcdpp&fccid=cf2319525eb667d8&cmp=sander-geophysics&ti=data+analyst&vjs=3',
       ...,
       'https://www.glassdoor.ca/job-listing/business-intelligence-analyst-clio-jv_ic2278756_ko0,29_ke30,34.htm?jl=1009218395921',
       'https://www.glassdoor.ca/job-listing/analyst-supply-chain-replenishment-loblaw-companies-limited-jv_ic2288053_ko0,34_ke35,59.htm?jl=1009382844222',
       'https://www.glassdoor.ca/job-listing/project-controls-analyst-suncor-energy-jv_ic2274645_ko0,24_ke25,38.htm?jl=1009386580272'],
      dtype=object)

In [16]:
def clean_web(value):
    if value.startswith('https://ca.indeed') == True:
        return 'indeed'

    elif value.startswith('https://www.glassdoor') == True:
        return 'glassdoor'
        
df['web_platform'] = df['web_platform'].apply(clean_web)
df['web_platform'].unique()

array(['indeed', 'glassdoor'], dtype=object)

In [17]:
df['salary'] = df['salary'].str.replace('[^a-zA-Z0-9$.-]', '')
df['salary'].unique()

C:\Users\jason\AppData\Local\Temp\ipykernel_19376\4239699004.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['salary'] = df['salary'].str.replace('[^a-zA-Z0-9$.-]', '')

array(['unknown', '87875$105000ayear', '55.39$62.66anhour',
       '43.82$51.78anhour43.82to$51.78perhour',
       '75898$113847ayear75898-$113847dllis',
       '47.62$56.27anhour47.62to$56.27perhour',
       '89606$128809ayear$89606-$128809with128809witha112008perannum',
       '27.48$36.65anhour',
       '83192$104013ayear1departmenttalent83192.00-$104013.00payscale',
       '95106.71to$127429.57hourlypay$52.26to$70.02benefits',
       '43.50anhour', '61181$76458ayear61181to$76458basedon',
       '74800$138600ayear74800.00-$138600.00paytype',
       '54764.33$73940.15ayear54764.33to$',
       'approximately$252billionintotal', '45000$50000ayear',
       '104423$109644ayear104423109644annually',
       '54500$81800ayearbetween$54500-$81800annually.',
       'upto$250perintern',
       '107600$147100ayear$107600-$147100can147100canannually',
       '20anhour20.00perhour',
       'teambellandweemployeereferralprogramadequateknowledgeof',
       '83500$149300ayear', 'approximately$271billionintotal', '46anhour',
       '$1.3trillionus$us$1.0trillionin$0.4trillionus$0.3trillion$0.3trillionus$us$0.3trillion.between$59570.00cad-110630.00cadif',
       '61181$76458ayear61181to$76458basedon61181.00-$76458.00peryear',
       '105000ayear', '50$58anhour50.00-$58.00perhour',
       '76071.18$86658.48ayear76071.18-$86658.48annually',
       '11-$75223.75223.with96196.pay', 'upto$100kinitial',
       '69000.10$84021.08ayear2653.85-$69000.10-$2653.85-$',
       'capitalmarketstechnologyderivativeproductslocations',
       '79500$106000ayear79500-$106000per',
       '90000$110000ayear90000.00-$110000.00peryear', '82800-103500',
       '51.89$61.93anhour$51.89-$61.93per61.93perhour', '38anhour',
       '68000$85000ayearupto$1500peryear$68000-$85000will85000willconsider68000.00-$85000.00peryear',
       '28.40anhour', '105800$138800ayear105800-$138800cadannually',
       '47.20anhour', '50000$70000ayear50000.00-$70000.00peryear',
       '70000$85000ayear70000to$85000depending',
       '40.07$47.31anhour$40.07-$47.31hour',
       '65000$85000ayear$65000-$85000paid85000paidleave',
       '87000ayear87000.base', '42.04$49.65anhour$42.04to$49.65perhour',
       '69760.70$79322.69ayear69760.70-$79322.69annually79322.69annuallyclose',
       '38.12$54.80anhour38.12-$54.80hour',
       '7977$9593amonth7977-$9593per9593permonth',
       '61162$88975ayear33.605-$48.887perhour88975perannum', 'r11028nbsp',
       '46531$58164ayear46531-$58164annually',
       '81239.90$101495.59ayear38.908-$48.60948.609hourly3112.603888.70bi81239.90101495.59annually',
       '45016$93603ayear45016-$93603morethan$68billionusd.',
       '2500peryear', 'morethan$2million.accountabilities', '5000peryear',
       '63800$76125ayear$63800-$76125individualsselectedfor',
       '6747.50$9701.42amonth6747.50-$9701.42cadmonthly',
       '37500$69500ayear37500.00-$', '104000ayear104000.experience',
       '42.18anhour42.18perhour24-104humanresourcesdistrictofsquamish',
       'scotiatechnologycapitalmarketstechnologylocationscanada',
       '38$39anhour', '80000$100000ayear80000-$80000cad-100000cadat',
       'li-hybrid', '$54000to$75000.starting',
       '70000$90000ayear70000.00-$90000.00peryear', 'teambellandwe',
       '80000$90000ayear$80000-$90000a90000ayear80000.00-$90000.00peryear',
       '65000$120000ayear65000.00-$120000.00peryear',
       '13-$84813.84813.with108463.pay',
       '35.04$43.00anhour35.04-$43.00jobdescription',
       'morethan1.0fte.shared', 'aboutusteleperformanceisa',
       '68000$91000ayear$68000-$91000', '18anhour92355-$123140.location',
       '$170millionacrossmultiple',
       '120000$130000ayear120000.00-$130000.00peryear', '42.56anhour',
       '95000.00-$105000.00perday', '82000$101000ayear',
       '87872$136815ayear87872.00-$136815.00closedate',
       '36.68$42.51anhour36.68hr42.51hr', 'over$100billionincombined',
       '43.30anhour', '44anhour', '47.12anhour',
       '58649$85218ayearthreeyearcommunitycollege$58649-$85218level',
       '47266.40-$64725.92peryear', '56000-$84000cad',
       '85000$133750ayear85000.00-133750.00',
       '35.65$43.40anhour35.652-$43.400hourlysalary', '47anhour',
       '60000$111700ayear60000.00-$111700.00paytype', '40.12$45.39anhour',
       '$109000-159000affirmis',
       '32.94$36.75anhour$32.94-$36.75per36.75perhour',
       'upto$100000ayearupto$100000.00peryear', '70000-$90000inaddition',
       '60000$75000ayear60000.00-$75000.00peryear', '128frog',
       '80000ayear80000annually', '75715$100652ayear',
       '15-$95627.95627.with122290.pay', 'morethan$30billioninassets',
       '70-80', '500creditfor',
       '$1.3trillionus$us$1.0trillionin$0.4trillionus$0.3trillion$0.3trillionus$us$0.3trillion.between$68250.00cad-113750.00cadif',
       '113343ayear113343mid136011max', '41anhour', '43anhour',
       '37.18$40.00anhour', '50000$60000ayear',
       '6020amonth3010.00biweeklyworkplace', '$0.00-$0.00disclaimer',
       '45.53$60.86anhour45.53-60.86', '45anhour',
       '71500$107300ayear71500to$107300anda89400.',
       '60000$85000ayear60000.00-$85000.00peryear',
       '101627$107071ayear24-652e101627107071perannum', '83416.00.we',
       '90000$200000ayear$42billioninassetsover$127billioninfinancial90000200000annuallyplus',
       '43.27anhour', '42$50anhour', '43.35-57.96',
       '90000$100000ayear90-100k', '71563$100052ayear',
       '40000$45000ayearjobsummaryweduties-conductskills-40000.00-$45000.00peryear',
       '77105$86637ayear',
       '150500$187165ayear$88billionbabyproduct$150500.00-$187165.00in187165.00inadditionbi-remotenbsp',
       '60000$65000ayear60000-65000', 'upto20pounds', '48.50anhour',
       '109000-159000', 'indanbsp', '43200$70800ayear',
       'c$27billioninassets', '103042aboutus', '42anhour',
       '45anhour45.00perhour',
       '60000$80000ayear60000.00-$80000.00peryear',
       '64618.31$90053.44ayear', 'upto$5000ofyour',
       '45000$60000ayear45k-$60k.actual',
       '997.19$1268.21aweek$997.19$1268.21bargaining1268.21bargainingunit',
       '29.31$38.47anhour29.31hr38.47hr',
       '42.39$51.58anhour$42.394-$51.582hourly51.582hourlysalary',
       '79786.18$93866.14ayear', '40$45anhour',
       '60000$70000ayearbillion-dollarorganization$60000-$70000generous70000generousbonus',
       '1employeebenefits',
       '89800$166300ayearbetween$89800-$166300annually.',
       '5388.54$7075.72amonth2694.27to$3537.86bi-70320.45-$',
       '100000$110000ayear100000.00-$110000.00peryear',
       '54500$101500ayear54500.00-$101500.00paytype',
       '45.44$53.46anhour$45.44to$53.46perhour', '57200$78000ayear',
       '67450.89$97437.66ayear', '77335$113793ayear77335.00to$',
       '$92701to$107185britishcolumbia91400to$107185aboutus',
       '41.17$51.44anhour41.172-$51.438hourly',
       '51332.28$109672.13ayearjoboverviewweduties-developandimplementexperience-51332.28-$109672.13peryear',
       '2345.14to$3076.28bi-61208-$80291year',
       '6-$41.55-49.55anhour3802793wethank',
       '59713$89212ayear2287.86-$3431.24bi-59713-$89212annually',
       '68049$87547ayear2607.26to$3354.30bi-68049to$87547year',
       '80$100anhour80.00-$100.00perhour', '4bnofassets',
       '65000$78000ayear', 'upto$1000peryear',
       '41.28$55.18anhour10$41.28-55.18perhour',
       '104755$max.192185$35heuresprime22192$semaine13913$semaine74.17$semaine$104755max.$192185$35$13913weekhighcost74.17week',
       '55000$58000ayear55000.00-$58000.00peryear',
       '$5000-$80000-80000-depending', '59000$70000ayear59000-70000',
       '$20.01to$22.52perhour', '1700215',
       '86091$96853ayear96853.00perannum107614.00perannum106208byaugust',
       '25$30anhour',
       '1047.55$max.1921.85$35heuresprime221.92$semaine139.13$semaine74.17$semaine',
       'indth2abitabout',
       '30$38anhourmulti-million-dollaroperatingassetsmulti-million-dollaractions.30-38',
       '70000.00-$82000.00paidleave',
       '65466.34$76927.30ayear$65466.34-$76927.30',
       '38000$48000ayear2000peryear',
       '8305.08$12952.33amonth8305.08-$12952.33cadmonthly',
       '74242$92803ayear74242-$92803.the', 'upto$3500ayear',
       '95000$105000ayear95-105',
       '6214.32$7298.66amonth3107.16-$3649.33bi-',
       '58649$85218ayearofopenings2threeyearcommunitycollege$58649-$85218level',
       '$750wellnessandhealth', '71000$94000ayear',
       '35000$84000ayear35000.00-$84000.00peryear',
       '90000$100000ayear90000-$mineralsli-',
       '38.27$52.63anhour74618to$107264.interior',
       '66664ayear32.05perhour66664annually66664.00peryear',
       '64513$90181ayear64513$90181workarrangement600annually',
       '37.73$47.16anhour37.73-$47.16perhour',
       '69800$140400ayear69800-$140400nbsp', '4psseamlesslyprovides',
       '44500.00-$82500.00paytype',
       '70000$75000ayear70000.00-$75000.00peryear',
       '52300$103300ayear$52300-$103300.',
       '1priority$1billiondollarsincontracted',
       '59400$118100ayear59400-$118100.', '58000ayear58000.00peryear',
       'over$4.7billioninassets$1.8billionininvestment',
       '70000$80000ayear', '45.64$65.60anhour',
       'upto$20kinadoptionbetween$102000cad-154000cad.', '30anhour',
       '54300$88300ayear', '$109000-$159000li-',
       '108000$118000ayear108073-$118056annuallyposition',
       '89300$123000ayear89300-$123000canannually',
       '43.58$47.75anhour$43.58-$47.75shift47.75shiftinformation',
       '90000$180000ayear$43billioninassetsover$133billioninfinancial90000180000annuallyplus',
       '38.13$54.82anhour38.13hr54.82hr', '2000peryear',
       '12076townlinerdindanbsp', '50anhour', '3milliardsdedollars.avec',
       '42.05anhour', 'upto$20kinadoptionbetween$93000cad-139000cad.',
       '64731.76$97097.64ayear64731.76-$97097.64peryear',
       '85000$110000ayear85000cadto110000cadannually',
       '21.80$23.66anhour21.80-23.6621.80-$23.66perhour',
       '70000$87110ayear70000-$87110.actual70000-$87110.individual',
       '85915.26$108564.32ayear48.767-$61.623hourly$85915.260-$108564.320',
       '48000ayear48000.00peryear', '$104millioninventure',
       '70$90anhour70.00-$90.00perhour',
       '67861.00$93310.80ayear67861.00-$93310.80location67861.00-$93310.80peryear',
       '60000$70000ayear60000-$70000annually15',
       '92610$103700ayearbetween$92610to$103700basedonhttpswww.rbhinc.carbh',
       '28anhour28currencycad25.70-$42.84currency42.84currencycad',
       'upto$70anhour', '23.76-$25.90cadat',
       '45.43$53.67anhour24-14445.43-$53.67perhour',
       '18anhour18.00doesthis', '$3billioninsales',
       '76400ayearbillionsofdollarsofinventory76400yearupto$127600year',
       '22anhour', '81000$99000ayear81000-$99000.in', '52.09anhour',
       '28.50anhour', '87000$115000ayearover$130billionintotal87000-$',
       '41.50anhour', '32.21anhour', '75000ayear', '43.27$45.00anhour',
       '98000$144100ayear98000-$144100annually.',
       'theonebillioneuromarkby', '86008ayear',
       '14.39$20.00anhour14.39-$20.00perhour',
       '75000$150000ayear75000-$150000cadper',
       '20.00$25.64anhour20.00-$25.64perhour',
       '69695$115286ayear1.0fteis69695.00-115286.00',
       '100000$110000ayear', '77000$96000ayear', 'corphirenbsp',
       '66500$78200ayear66500to$78200.rangecadforcanadian',
       '72639$94431ayear', '32$35anhour32-35', '37anhour',
       '140000ayear140000.00peryear', 'multi-milliondollarbrandsthesize',
       '40.13anhour40.13hourlytemp', '3billiondollarsinsales1spotin',
       'billion-dollarcompanyin$6billioncompanywithweareafldisclaimer',
       '80000$120000ayear80000.00-$120000.00peryear', '55000$75000ayear',
       '34.67$49.83anhour34.67-$49.83hour',
       '$59822to$82266posteddate$59822to$82266.it',
       '30$50anhour30.00-$50.00perhour', '43$44anhour',
       '34.67$54.18anhour34.67hour54.18hour',
       '68960$94820ayear68960-$94820annually.',
       '66000$86600ayear$66000-86600annually',
       '70000$85000ayear7000085000peryear', '43$45anhour',
       'upto$1000referral', '53.50anhour',
       '70000$80000ayearhundredsofdollarsannuallyproximity',
       'makeyourmarkdiversityisthe',
       '80932$105773ayear80932to$105773perannum', '3358avesw',
       '68994ayear', '50000$60000ayear50000-$60000.individual',
       '88990$127923ayear$88990-$127923year127923year.', '1priorityin',
       'upto$75000ayear', 'techpjli',
       '77000$95000ayearover$130billionintotal77000-$95000cadannually',
       '47.25anhour', 'lessthan$50mmtoover', 'indhighnbsp', '26.50anhour',
       '29.50anhour', '36.57anhour36.57hoursper', '30$35anhour30-35',
       '36.57anhour36.57heurespar', '30$35anhour30-3531.48heurespar',
       '0monthly', '42.18anhour42.18thisposition42.18perhour',
       '44000$44700ayear62mseries',
       '97599$127555ayear$97599to$127555perannum', '44200$55300ayear',
       '50000$75000ayear50000-$75000cadcommensurate50000.00-$75000.00peryear50000.00-$75000.00peryear',
       '69000$86000ayear69000-$86000ayear', '100000$120000ayear',
       '39anhour', '64123.59$72674.35ayear72674.35annuallyclose',
       '$128.6cadbillioninnet', '68000ayear', '65000ayear',
       '75600$113400ayear75600-$113400perannum', '141177ayear',
       '49.19anhour', '170yearlyhealth',
       '600thatpromotes$128.6cadbillioninnet',
       '0.00-$0.00targetopenings1', '36.50$38.00anhour',
       '102000$125000ayear102000-$125000annually.102000$125125000$paran.',
       '92500$113500ayear', '79000ayear', '47.50anhour',
       '74618$107264ayear74618-$107264year',
       'morethan1billionmembersacrossnearly$2billionincash',
       '38.27$55.01anhour', 'us$25-billionindustryto', '68819$84450ayear',
       '80000$90000ayear',
       '60000$70000ayear$60000to$70000peryear60000.00-$70000.00peryear',
       '65000$80000ayear65000.00-$80000.00peryear',
       '85536.24$106920.24ayear85536.24to$106920.24plus85536.24-$106920.24peryear',
       '8200$9500amonth8200.00-$9500.00permonth',
       '85000ayear85000.00peryear', '$83k-$104kemployerest.',
       '$55k-$78kglassdoorest.', '$60k-$85kemployerest.',
       '$55k-$65kglassdoorest.', '$100k-$110kemployerest.',
       '$87kemployerest.', '$40k-$93kglassdoorest.',
       '$86k-$107kemployerest.', '$80k-$105kglassdoorest.',
       '$98k-$105kglassdoorest.', '$110k-$130kemployerest.',
       '$75k-$108kglassdoorest.', '$46k-$105kemployerest.',
       '$75k-$110kglassdoorest.', '$65k-$80kglassdoorest.',
       '$75k-$85kemployerest.', '$43k-$93kglassdoorest.',
       '$80k-$87kglassdoorest.', '$38k-$70kemployerest.',
       '$70k-$90kemployerest.', '$60k-$70kemployerest.',
       '$65.00-$75.00perhouremployerest.', '$72k-$86kglassdoorest.',
       '$72k-$82kemployerest.', '$20.00perhouremployerest.',
       '$56k-$76kglassdoorest.', '$77k-$96kemployerest.',
       '$65k-$120kemployerest.', '$65k-$77kglassdoorest.',
       '$44k-$45kemployerest.', '$89k-$111kglassdoorest.',
       '$52k-$74kglassdoorest.', '$70k-$79kemployerest.',
       '$35.04-$43.00perhouremployerest.', '$58kemployerest.',
       '$81k-$91kglassdoorest.', '$60k-$95kglassdoorest.',
       '$82k-$87kemployerest.', '$48k-$80kglassdoorest.',
       '$65k-$85kglassdoorest.', '$55k-$66kglassdoorest.',
       '$80k-$90kemployerest.', '$38.12-$54.80perhouremployerest.',
       '$42.04-$49.65perhouremployerest.', '$70k-$95kglassdoorest.',
       '$40k-$50kemployerest.', '$65k-$75kglassdoorest.',
       '$50k-$70kemployerest.', '$85kemployerest.',
       '$84k-$90kglassdoorest.', '$69k-$80kglassdoorest.',
       '$77k-$97kglassdoorest.', '$69k-$84kemployerest.',
       '$43.50perhouremployerest.', '$8k-$10kemployerest.',
       '$60k-$109kglassdoorest.', '$70k-$115kemployerest.',
       '$64k-$80kglassdoorest.', '$55k-$71kglassdoorest.',
       '$60k-$90kglassdoorest.', '$76k-$114kemployerest.',
       '$49k-$78kglassdoorest.', '$77k-$87kemployerest.',
       '$61k-$100kglassdoorest.', '$16.64-$23.67perhouremployerest.',
       '$42k-$69kglassdoorest.', '$85k-$93kglassdoorest.',
       '$70k-$80kemployerest.', '$35.65-$43.40perhouremployerest.',
       '$120k-$130kemployerest.', '$41.28-$55.18perhouremployerest.',
       '$70k-$93kglassdoorest.', '$80kglassdoorest.',
       '$56k-$100kglassdoorest.', '$53k-$84kglassdoorest.',
       '$70k-$87kglassdoorest.', '$35k-$65kglassdoorest.',
       '$60k-$99kglassdoorest.', '$45.00-$55.00perhouremployerest.',
       '$60k-$100kglassdoorest.', '$47k-$58kemployerest.',
       '$50k-$60kemployerest.', '$70k-$76kglassdoorest.',
       '$42.18perhouremployerest.', '$45.00perhouremployerest.',
       '$21.80-$23.66perhouremployerest.', '$80k-$124kglassdoorest.',
       '$58k-$75kglassdoorest.', '$68k-$81kglassdoorest.',
       '$61kglassdoorest.', '$81k-$110kglassdoorest.',
       '$70k-$100kglassdoorest.', '$78k-$93kglassdoorest.',
       '$75k-$100kglassdoorest.', '$108k-$147kemployerest.',
       '$52k-$68kglassdoorest.', '$83k-$104kglassdoorest.',
       '$81k-$114kglassdoorest.', '$60k-$112kemployerest.',
       '$89k-$123kemployerest.', '$43.27perhouremployerest.',
       '$85k-$90kglassdoorest.', '$58k-$80kglassdoorest.',
       '$70.00-$85.00perhouremployerest.',
       '$40.00-$45.00perhouremployerest.', '$69k-$85kemployerest.',
       '$40k-$60kemployerest.', '$82k-$230kemployerest.',
       '$30.00perhouremployerest.', '$81k-$101kemployerest.',
       '$54kemployerest.', '$62k-$80kglassdoorest.',
       '$80k-$92kglassdoorest.', '$57k-$62kglassdoorest.',
       '$63k-$120kglassdoorest.', '$115k-$156kglassdoorest.',
       '$151k-$187kemployerest.', '$40.12-$45.39perhouremployerest.',
       '$47.00perhouremployerest.', '$68kemployerest.',
       '$57k-$78kemployerest.', '$80k-$100kemployerest.',
       '$57k-$98kglassdoorest.', '$100kemployerest.',
       '$65k-$91kglassdoorest.', '$43.00perhouremployerest.',
       '$35.00-$40.00perhouremployerest.', '$70k-$80kglassdoorest.',
       '$70kglassdoorest.', '$66kglassdoorest.', '$70k-$100kemployerest.',
       '$44.00perhouremployerest.', '$43.27-$45.00perhouremployerest.',
       '$89kemployerest.', '$68k-$95kglassdoorest.',
       '$42.00-$48.00perhouremployerest.', '$67k-$113kglassdoorest.',
       '$61k-$66kglassdoorest.', '$60k-$98kglassdoorest.',
       '$61k-$82kglassdoorest.', '$92k-$100kglassdoorest.',
       '$35k-$53kglassdoorest.', '$88k-$105kemployerest.',
       '$83k-$109kglassdoorest.', '$72k-$100kemployerest.',
       '$76k-$100kglassdoorest.', '$64k-$76kglassdoorest.',
       '$50k-$75kemployerest.', '$79k-$122kglassdoorest.',
       '$75k-$90kemployerest.', '$70k-$75kemployerest.',
       '$52k-$75kglassdoorest.', '$60k-$80kemployerest.',
       '$34.00-$36.00perhouremployerest.', '$69k-$95kglassdoorest.',
       '$57k-$87kglassdoorest.', '$71k-$83kglassdoorest.',
       '$54k-$63kglassdoorest.', '$80kemployerest.',
       '$55k-$74kglassdoorest.', '$61k-$76kemployerest.',
       '$48kemployerest.', '$47k-$59kglassdoorest.',
       '$67k-$98kglassdoorest.', '$82k-$88kglassdoorest.',
       '$81k-$100kglassdoorest.', '$75k-$80kglassdoorest.',
       '$56k-$69kglassdoorest.', '$75k-$95kglassdoorest.',
       '$64k-$112kglassdoorest.', '$49k-$62kglassdoorest.',
       '$73k-$95kglassdoorest.', '$85k-$95kglassdoorest.',
       '$54k-$60kglassdoorest.', '$35k-$41kglassdoorest.',
       '$51k-$110kemployerest.', '$65k-$87kglassdoorest.',
       '$36.57perhouremployerest.', '$59k-$65kglassdoorest.',
       '$90k-$106kglassdoorest.', '$42.60perhouremployerest.',
       '$68k-$86kglassdoorest.', '$49k-$95kglassdoorest.',
       '$80k-$110kglassdoorest.', '$104kemployerest.',
       '$60k-$75kglassdoorest.', '$72k-$80kglassdoorest.',
       '$65k-$100kglassdoorest.', '$78k-$100kglassdoorest.',
       '$47k-$70kglassdoorest.', '$76k-$106kglassdoorest.',
       '$45k-$90kglassdoorest.', '$55k-$80kglassdoorest.',
       '$57k-$82kglassdoorest.', '$37.00perhouremployerest.',
       '$67k-$97kglassdoorest.', '$65k-$80kemployerest.',
       '$43.35-$57.96perhouremployerest.',
       '$50.00-$100.00perhouremployerest.', '$62k-$100kglassdoorest.',
       '$60k-$75kemployerest.', '$42.00-$50.00perhouremployerest.',

In [18]:
df['salary'] = df['salary'].str.replace('glassdoorest', '')
df['salary'] = df['salary'].str.replace('employerest', '')
df['salary'] = df['salary'].str.replace('k', '000')
df['salary'] = df['salary'].str.replace('ayear', '')
df['salary'] = df['salary'].str.replace('perhour', '')
df['salary'] = df['salary'].str.replace('anhour', '')
df['salary'] = df['salary'].str.replace('peryear', '')

df['salary'] = df['salary'][df['salary'].str.len() < 20]
df['salary'] = df['salary'].str.replace('[^0-9$-.]', '')

df['salary'] = df['salary'].str.replace('$', '-')
df['salary'] = df['salary'].str.replace('--', '-')
df['salary'].unique()

C:\Users\jason\AppData\Local\Temp\ipykernel_19376\3548278890.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['salary'] = df['salary'].str.replace('[^0-9$-.]', '')
C:\Users\jason\AppData\Local\Temp\ipykernel_19376\3548278890.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['salary'] = df['salary'].str.replace('$', '-')

array(['000', '87875-105000', '55.39-62.66', nan, '27.48-36.65', '43.50',
       '45000-50000', '-250', '2020.00', '83500-149300', '46', '105000',
       '50-5850.00-58.00', '-100000', '82800-103500', '38', '28.40',
       '47.20', '8700087000.', '11028', '2500', '5000', '38-39', '-', '',
       '42.56', '82000-101000', '43.30', '44', '47.12',
       '47266.40-64725.92', '56000-84000', '47', '40.12-45.39', '128',
       '8000080000', '75715-100652', '70-80', '500', '41', '43',
       '37.18-40.00', '50000-60000', '45', '83416.00.', '43.27', '42-50',
       '43.35-57.96', '71563-100052', '77105-86637', '20', '48.50',
       '109000-159000', '43200-70800', '-27', '103042', '42', '4545.00',
       '64618.31-90053.44', '-5000', '79786.18-93866.14', '40-45', '1',
       '57200-78000', '67450.89-97437.66', '80-10080.00-100.00', '4',
       '65000-78000', '-1000', '-20.01-22.52', '1700215', '25-30', '2',
       '38000-480002000', '-3500', '95000-10500095-105', '71000-94000',
       '5800058000.00', '70000-80000', '45.64-65.60', '30', '54300-88300',
       '-109000-159000-', '2000', '50', '42.05', '4800048000.00',
       '70-9070.00-90.00', '-70', '23.76-25.90', '1818.00', '-3', '22',
       '52.09', '28.50', '41.50', '32.21', '75000', '43.27-45.00',
       '86008', '100000-110000', '77000-96000', '72639-94431',
       '32-3532-35', '37', '140000140000.00', '55000-75000',
       '30-5030.00-50.00', '43-44', '43-45', '53.50', '3358', '68994',
       '-75000', '47.25', '-50', '26.50', '29.50', '36.5736.57',
       '30-3530-35', '0', '44200-55300', '100000-120000', '39', '68000',
       '65000', '141177', '49.19', '170', '36.50-38.00', '92500-113500',
       '79000', '47.50', '38.27-55.01', '68819-84450', '80000-90000',
       '8500085000.00', '-83000-104000.', '-55000-78000.',
       '-60000-85000.', '-55000-65000.', '-100000-110000.', '-87000.',
       '-40000-93000.', '-86000-107000.', '-80000-105000.',
       '-98000-105000.', '-110000-130000.', '-75000-108000.',
       '-46000-105000.', '-75000-110000.', '-65000-80000.',
       '-75000-85000.', '-43000-93000.', '-80000-87000.', '-38000-70000.',
       '-70000-90000.', '-60000-70000.', '-65.00-75.00.', '-72000-86000.',
       '-72000-82000.', '-20.00.', '-56000-76000.', '-77000-96000.',
       '-65000-120000.', '-65000-77000.', '-44000-45000.',
       '-89000-111000.', '-52000-74000.', '-70000-79000.',
       '-35.04-43.00.', '-58000.', '-81000-91000.', '-60000-95000.',
       '-82000-87000.', '-48000-80000.', '-65000-85000.', '-55000-66000.',
       '-80000-90000.', '-38.12-54.80.', '-42.04-49.65.', '-70000-95000.',
       '-40000-50000.', '-65000-75000.', '-50000-70000.', '-85000.',
       '-84000-90000.', '-69000-80000.', '-77000-97000.', '-69000-84000.',
       '-43.50.', '-8000-10000.', '-60000-109000.', '-70000-115000.',
       '-64000-80000.', '-55000-71000.', '-60000-90000.',
       '-76000-114000.', '-49000-78000.', '-77000-87000.',
       '-61000-100000.', '-16.64-23.67.', '-42000-69000.',
       '-85000-93000.', '-70000-80000.', '-35.65-43.40.',
       '-120000-130000.', '-41.28-55.18.', '-70000-93000.', '-80000.',
       '-56000-100000.', '-53000-84000.', '-70000-87000.',
       '-35000-65000.', '-60000-99000.', '-45.00-55.00.',
       '-60000-100000.', '-47000-58000.', '-50000-60000.',
       '-70000-76000.', '-42.18.', '-45.00.', '-21.80-23.66.',
       '-80000-124000.', '-58000-75000.', '-68000-81000.', '-61000.',
       '-81000-110000.', '-70000-100000.', '-78000-93000.',
       '-75000-100000.', '-108000-147000.', '-52000-68000.',
       '-81000-114000.', '-60000-112000.', '-89000-123000.', '-43.27.',
       '-85000-90000.', '-58000-80000.', '-70.00-85.00.', '-40.00-45.00.',
       '-69000-85000.', '-40000-60000.', '-82000-230000.', '-30.00.',
       '-81000-101000.', '-54000.', '-62000-80000.', '-80000-92000.',
       '-57000-62000.', '-63000-120000.', '-115000-156000.',
       '-151000-187000.', '-40.12-45.39.', '-47.00.', '-68000.',
       '-57000-78000.', '-80000-100000.', '-57000-98000.', '-100000.',
       '-65000-91000.', '-43.00.', '-35.00-40.00.', '-70000.', '-66000.',
       '-44.00.', '-43.27-45.00.', '-89000.', '-68000-95000.',
       '-42.00-48.00.', '-67000-113000.', '-61000-66000.',
       '-60000-98000.', '-61000-82000.', '-92000-100000.',
       '-35000-53000.', '-88000-105000.', '-83000-109000.',
       '-72000-100000.', '-76000-100000.', '-64000-76000.',
       '-50000-75000.', '-79000-122000.', '-75000-90000.',
       '-70000-75000.', '-52000-75000.', '-60000-80000.', '-34.00-36.00.',
       '-69000-95000.', '-57000-87000.', '-71000-83000.', '-54000-63000.',
       '-55000-74000.', '-61000-76000.', '-48000.', '-47000-59000.',
       '-67000-98000.', '-82000-88000.', '-81000-100000.',
       '-75000-80000.', '-56000-69000.', '-75000-95000.',
       '-64000-112000.', '-49000-62000.', '-73000-95000.',
       '-85000-95000.', '-54000-60000.', '-35000-41000.',
       '-51000-110000.', '-65000-87000.', '-36.57.', '-59000-65000.',
       '-90000-106000.', '-42.60.', '-68000-86000.', '-49000-95000.',
       '-80000-110000.', '-104000.', '-60000-75000.', '-72000-80000.',
       '-65000-100000.', '-78000-100000.', '-47000-70000.',
       '-76000-106000.', '-45000-90000.', '-55000-80000.',
       '-57000-82000.', '-37.00.', '-67000-97000.', '-43.35-57.96.',
       '-50.00-100.00.', '-62000-100000.', '-42.00-50.00.',
       '-48000-54000.', '-70000-114000.', '-63000.', '-44000-90000.',
       '-100000-115000.', '-45000-48000.', '-44000-63000.',
       '-85000-130000.', '-42.05.', '-42.50.', '-70000-71000.', '-47.12.',
       '-38.27-55.01.', '-61000-89000.', '-95000-135000.',
       '-69000-90000.', '-55000-58000.', '-35000-71000.',
       '-84000-149000.', '-76000.', '-50000-93000.', '-103000-155000.',
       '-61000-74000.', '-100000-125000.', '-65000-79000.', '-39.00.',
       '-42.56.', '-90000-96000.', '-64000-118000.', '-68000-98000.',
       '-30.00-35.00.', '-67000-75000.', '-67000-78000.', '-40000-45000.',
       '-71000-96000.', '-64000-109000.', '-59000-70000.',
       '-69000-87000.', '-75000-126000.', '-81000-115000.',
       '-81000-127000.', '-90000-110000.', '-50000-95000.',
       '-35000-38000.', '-65000-89000.', '-47000-88000.',
       '-62000-109000.', '-35000-86000.', '-59000-112000.',
       '-63000-99000.', '-70000-118000.', '-76000-113000.',
       '-51000-75000.', '-65000-73000.', '-56000-85000.', '-70000-85000.',
       '-80000-95000.', '-75000-139000.', '-83000-100000.',
       '-53000-74000.', '-63000-87000.', '-46000-70000.', '-44000-54000.',
       '-77000-100000.', '-57000-90000.', '-76000-92000.',
       '-86000-109000.', '-38000-55000.', '-95000-125000.',
       '-59000-88000.', '-45000-75000.', '-65000-70000.',
       '-82000-119000.', '-70.00-90.00.', '-75000-107000.',
       '-90000-100000.', '-121000-140000.', '-43.00-48.00.',
       '-43.82-51.78.', '-45000-50000.', '-42.00.', '-45000-70000.',
       '-50.00.', '-55000-70000.', '-80000-81000.', '-55000-75000.',
       '-38.00-39.00.', '-65000-78000.', '-28.00.', '-52000-69000.',
       '-70000-94000.', '-56000-66000.', '-67000-80000.',
       '-82000-101000.', '-65000-74000.', '-102000-107000.', '-55000.',
       '-60000-86000.', '-60000-84000.', '-68000-82000.', '-60000-81000.',
       '-36.68-42.51.', '-60000-74000.', '-47000-65000.', '-63000-80000.',
       '-28.40.', '-71000-101000.', '-53000-60000.', '-45.44-53.46.',
       '-59000-60000.', '-32.94-36.75.', '-30.00-50.00.',
       '-71000-125000.', '-38000-48000.', '-59000-67000.',
       '-82000-89000.', '-59000-62000.', '-47000-60000.', '-18.00.',
       '-55000-86000.', '-62000-67000.', '-83000-92000.',
       '-90000-150000.', '-53000-61000.', '-75000.', '-65000-122000.',
       '-56000-74000.', '-87000-120000.', '-58000-100000.',
       '-64000-101000.', '-65000-82000.', '-55000-76000.',
       '-68000-91000.', '-75.00.', '-221.92.', '-77000-101000.',
       '-43.44.', '-64000.', '-55000-69000.', '-80000-118000.',
       '-50.00-55.00.', '-37.18-40.00.', '-51.50.', '-80.00-90.00.',
       '-38.50.', '-87000-93000.', '-46000-67000.', '-48000-64000.',
       '-62000-90000.', '-90000-200000.', '-45000-81000.',
       '-41.17-51.44.', '-56000-97000.', '-69000-86000.', '-62000-84000.',
       '-109000-123000.', '-68000-93000.', '-85000-110000.',
       '-18.00-25.00.', '-43.30.', '-65000.', '-113000.', '-49000-64000.',
       '-61000-91000.', '-5000-7000.', '-65.00-70.00.', '-84000-104000.',
       '-50000-55000.', '-70000-124000.', '-44000-55000.',
       '-43.58-47.75.', '-76000-87000.', '-60000-65000.', '-54000-88000.',
       '-58000-64000.', '-75000-150000.', '-60000-82000.', '-66.00.',
       '-67000.', '-89000-93000.', '-53000-85000.', '-65000-90000.',
       '-54000-71000.', '-55000-85000.', '-50000-51000.', '-45.64-65.60.',
       '-88000-137000.', '-93000-114000.', '-56000-80000.',
       '-34.67-49.83.', '-77000-114000.', '-34.28-55.07.',
       '-65000-72000.', '-57000-75000.', '-64000-90000.', '-7000-10000.',
       '-48.50.', '-53000-82000.', '-90000-180000.', '-72000-91000.',
       '-80.00-100.00.', '-75000-92000.', '-71000-80000.',
       '-45.43-53.67.', '-40.00.', '-57000-63000.', '-38.00.',
       '-68000-79000.', '-50000-53000.', '-51000-55000.', '-52000-59000.',
       '-42.39-51.58.', '-72000-104000.', '-44000-58000.', '-8000.',
       '-54000-58000.', '-60000-79000.', '-85000-101000.',
       '-20.01-22.54.', '-63000-84000.', '-53000-70000.', '-41.00.',
       '-58000-113000.', '-56000-78000.', '-96000-101000.',
       '-86000-97000.', '-48000-77000.', '-85000-140000.',
       '-76000-101000.', '-45000-94000.', '-43000-50000.',
       '-20.00-25.64.', '-42000-68000.', '-68000-88000.', '-62000-91000.',
       '-32.00-35.00.', '-42.75-45.75.', '-6000.', '-35000-47000.',
       '-43.00-44.00.', '-61000-80000.', '-46.00.', '-64000-97000.',
       '-28.50.', '-50000-91000.', '-81000-122000.', '-66000-108000.',
       '-41.50.', '-80000-88000.', '-86000-88000.', '-105000.',
       '-48000-68000.', '-43.80.', '-43.40.', '-39.50.', '-61000-68000.',
       '-59000-85000.', '-86000-105000.', '-44000-48000.', '-47.20.',
       '-66000-87000.', '-76000-107000.', '-46.00-48.00.',
       '-71000-82000.', '-86000-104000.', '-67000-87000.',
       '-61000-77000.', '-38.13-54.82.', '-38.97-40.00.', '-72000-98000.',
       '-104000-110000.', '-68000-77000.', '-65000-76000.', '-51000.',
       '-48000-83000.', '-71000-119000.', '-150000.', '-58000-65000.',
       '-84000-123000.', '-70000-104000.', '-54000-67000.',
       '-73000-85000.', '-27.48-36.65.', '-62000.', '-67000-102000.',
       '-94000-110000.', '-86000-94000.', '-72000-153000.'], dtype=object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     1796 non-null   object
 1   company_name  1796 non-null   object
 2   tech_skills   1796 non-null   object
 3   salary        1515 non-null   object
 4   city          1796 non-null   object
 5   province      1796 non-null   object
 6   web_platform  1796 non-null   object
dtypes: object(7)
memory usage: 98.3+ KB

In [20]:
def format_sal(value):
    if str(value).startswith('-') == True:
        return value[1:]
    else:
        return value
    
df['salary'] = df['salary'].apply(format_sal)
df['salary'].unique()

array(['000', '87875-105000', '55.39-62.66', nan, '27.48-36.65', '43.50',
       '45000-50000', '250', '2020.00', '83500-149300', '46', '105000',
       '50-5850.00-58.00', '100000', '82800-103500', '38', '28.40',
       '47.20', '8700087000.', '11028', '2500', '5000', '38-39', '',
       '42.56', '82000-101000', '43.30', '44', '47.12',
       '47266.40-64725.92', '56000-84000', '47', '40.12-45.39', '128',
       '8000080000', '75715-100652', '70-80', '500', '41', '43',
       '37.18-40.00', '50000-60000', '45', '83416.00.', '43.27', '42-50',
       '43.35-57.96', '71563-100052', '77105-86637', '20', '48.50',
       '109000-159000', '43200-70800', '27', '103042', '42', '4545.00',
       '64618.31-90053.44', '79786.18-93866.14', '40-45', '1',
       '57200-78000', '67450.89-97437.66', '80-10080.00-100.00', '4',
       '65000-78000', '1000', '20.01-22.52', '1700215', '25-30', '2',
       '38000-480002000', '3500', '95000-10500095-105', '71000-94000',
       '5800058000.00', '70000-80000', '45.64-65.60', '30', '54300-88300',
       '109000-159000-', '2000', '50', '42.05', '4800048000.00',
       '70-9070.00-90.00', '70', '23.76-25.90', '1818.00', '3', '22',
       '52.09', '28.50', '41.50', '32.21', '75000', '43.27-45.00',
       '86008', '100000-110000', '77000-96000', '72639-94431',
       '32-3532-35', '37', '140000140000.00', '55000-75000',
       '30-5030.00-50.00', '43-44', '43-45', '53.50', '3358', '68994',
       '47.25', '26.50', '29.50', '36.5736.57', '30-3530-35', '0',
       '44200-55300', '100000-120000', '39', '68000', '65000', '141177',
       '49.19', '170', '36.50-38.00', '92500-113500', '79000', '47.50',
       '38.27-55.01', '68819-84450', '80000-90000', '8500085000.00',
       '83000-104000.', '55000-78000.', '60000-85000.', '55000-65000.',
       '100000-110000.', '87000.', '40000-93000.', '86000-107000.',
       '80000-105000.', '98000-105000.', '110000-130000.',
       '75000-108000.', '46000-105000.', '75000-110000.', '65000-80000.',
       '75000-85000.', '43000-93000.', '80000-87000.', '38000-70000.',
       '70000-90000.', '60000-70000.', '65.00-75.00.', '72000-86000.',
       '72000-82000.', '20.00.', '56000-76000.', '77000-96000.',
       '65000-120000.', '65000-77000.', '44000-45000.', '89000-111000.',
       '52000-74000.', '70000-79000.', '35.04-43.00.', '58000.',
       '81000-91000.', '60000-95000.', '82000-87000.', '48000-80000.',
       '65000-85000.', '55000-66000.', '80000-90000.', '38.12-54.80.',
       '42.04-49.65.', '70000-95000.', '40000-50000.', '65000-75000.',
       '50000-70000.', '85000.', '84000-90000.', '69000-80000.',
       '77000-97000.', '69000-84000.', '43.50.', '8000-10000.',
       '60000-109000.', '70000-115000.', '64000-80000.', '55000-71000.',
       '60000-90000.', '76000-114000.', '49000-78000.', '77000-87000.',
       '61000-100000.', '16.64-23.67.', '42000-69000.', '85000-93000.',
       '70000-80000.', '35.65-43.40.', '120000-130000.', '41.28-55.18.',
       '70000-93000.', '80000.', '56000-100000.', '53000-84000.',
       '70000-87000.', '35000-65000.', '60000-99000.', '45.00-55.00.',
       '60000-100000.', '47000-58000.', '50000-60000.', '70000-76000.',
       '42.18.', '45.00.', '21.80-23.66.', '80000-124000.',
       '58000-75000.', '68000-81000.', '61000.', '81000-110000.',
       '70000-100000.', '78000-93000.', '75000-100000.', '108000-147000.',
       '52000-68000.', '81000-114000.', '60000-112000.', '89000-123000.',
       '43.27.', '85000-90000.', '58000-80000.', '70.00-85.00.',
       '40.00-45.00.', '69000-85000.', '40000-60000.', '82000-230000.',
       '30.00.', '81000-101000.', '54000.', '62000-80000.',
       '80000-92000.', '57000-62000.', '63000-120000.', '115000-156000.',
       '151000-187000.', '40.12-45.39.', '47.00.', '68000.',
       '57000-78000.', '80000-100000.', '57000-98000.', '100000.',
       '65000-91000.', '43.00.', '35.00-40.00.', '70000.', '66000.',
       '44.00.', '43.27-45.00.', '89000.', '68000-95000.', '42.00-48.00.',
       '67000-113000.', '61000-66000.', '60000-98000.', '61000-82000.',
       '92000-100000.', '35000-53000.', '88000-105000.', '83000-109000.',
       '72000-100000.', '76000-100000.', '64000-76000.', '50000-75000.',
       '79000-122000.', '75000-90000.', '70000-75000.', '52000-75000.',
       '60000-80000.', '34.00-36.00.', '69000-95000.', '57000-87000.',
       '71000-83000.', '54000-63000.', '55000-74000.', '61000-76000.',
       '48000.', '47000-59000.', '67000-98000.', '82000-88000.',
       '81000-100000.', '75000-80000.', '56000-69000.', '75000-95000.',
       '64000-112000.', '49000-62000.', '73000-95000.', '85000-95000.',
       '54000-60000.', '35000-41000.', '51000-110000.', '65000-87000.',
       '36.57.', '59000-65000.', '90000-106000.', '42.60.',
       '68000-86000.', '49000-95000.', '80000-110000.', '104000.',
       '60000-75000.', '72000-80000.', '65000-100000.', '78000-100000.',
       '47000-70000.', '76000-106000.', '45000-90000.', '55000-80000.',
       '57000-82000.', '37.00.', '67000-97000.', '43.35-57.96.',
       '50.00-100.00.', '62000-100000.', '42.00-50.00.', '48000-54000.',
       '70000-114000.', '63000.', '44000-90000.', '100000-115000.',
       '45000-48000.', '44000-63000.', '85000-130000.', '42.05.',
       '42.50.', '70000-71000.', '47.12.', '38.27-55.01.', '61000-89000.',
       '95000-135000.', '69000-90000.', '55000-58000.', '35000-71000.',
       '84000-149000.', '76000.', '50000-93000.', '103000-155000.',
       '61000-74000.', '100000-125000.', '65000-79000.', '39.00.',
       '42.56.', '90000-96000.', '64000-118000.', '68000-98000.',
       '30.00-35.00.', '67000-75000.', '67000-78000.', '40000-45000.',
       '71000-96000.', '64000-109000.', '59000-70000.', '69000-87000.',
       '75000-126000.', '81000-115000.', '81000-127000.', '90000-110000.',
       '50000-95000.', '35000-38000.', '65000-89000.', '47000-88000.',
       '62000-109000.', '35000-86000.', '59000-112000.', '63000-99000.',
       '70000-118000.', '76000-113000.', '51000-75000.', '65000-73000.',
       '56000-85000.', '70000-85000.', '80000-95000.', '75000-139000.',
       '83000-100000.', '53000-74000.', '63000-87000.', '46000-70000.',
       '44000-54000.', '77000-100000.', '57000-90000.', '76000-92000.',
       '86000-109000.', '38000-55000.', '95000-125000.', '59000-88000.',
       '45000-75000.', '65000-70000.', '82000-119000.', '70.00-90.00.',
       '75000-107000.', '90000-100000.', '121000-140000.', '43.00-48.00.',
       '43.82-51.78.', '45000-50000.', '42.00.', '45000-70000.', '50.00.',
       '55000-70000.', '80000-81000.', '55000-75000.', '38.00-39.00.',
       '65000-78000.', '28.00.', '52000-69000.', '70000-94000.',
       '56000-66000.', '67000-80000.', '82000-101000.', '65000-74000.',
       '102000-107000.', '55000.', '60000-86000.', '60000-84000.',
       '68000-82000.', '60000-81000.', '36.68-42.51.', '60000-74000.',
       '47000-65000.', '63000-80000.', '28.40.', '71000-101000.',
       '53000-60000.', '45.44-53.46.', '59000-60000.', '32.94-36.75.',
       '30.00-50.00.', '71000-125000.', '38000-48000.', '59000-67000.',
       '82000-89000.', '59000-62000.', '47000-60000.', '18.00.',
       '55000-86000.', '62000-67000.', '83000-92000.', '90000-150000.',
       '53000-61000.', '75000.', '65000-122000.', '56000-74000.',
       '87000-120000.', '58000-100000.', '64000-101000.', '65000-82000.',
       '55000-76000.', '68000-91000.', '75.00.', '221.92.',
       '77000-101000.', '43.44.', '64000.', '55000-69000.',
       '80000-118000.', '50.00-55.00.', '37.18-40.00.', '51.50.',
       '80.00-90.00.', '38.50.', '87000-93000.', '46000-67000.',
       '48000-64000.', '62000-90000.', '90000-200000.', '45000-81000.',
       '41.17-51.44.', '56000-97000.', '69000-86000.', '62000-84000.',
       '109000-123000.', '68000-93000.', '85000-110000.', '18.00-25.00.',
       '43.30.', '65000.', '113000.', '49000-64000.', '61000-91000.',
       '5000-7000.', '65.00-70.00.', '84000-104000.', '50000-55000.',
       '70000-124000.', '44000-55000.', '43.58-47.75.', '76000-87000.',
       '60000-65000.', '54000-88000.', '58000-64000.', '75000-150000.',
       '60000-82000.', '66.00.', '67000.', '89000-93000.', '53000-85000.',
       '65000-90000.', '54000-71000.', '55000-85000.', '50000-51000.',
       '45.64-65.60.', '88000-137000.', '93000-114000.', '56000-80000.',
       '34.67-49.83.', '77000-114000.', '34.28-55.07.', '65000-72000.',
       '57000-75000.', '64000-90000.', '7000-10000.', '48.50.',
       '53000-82000.', '90000-180000.', '72000-91000.', '80.00-100.00.',
       '75000-92000.', '71000-80000.', '45.43-53.67.', '40.00.',
       '57000-63000.', '38.00.', '68000-79000.', '50000-53000.',
       '51000-55000.', '52000-59000.', '42.39-51.58.', '72000-104000.',
       '44000-58000.', '8000.', '54000-58000.', '60000-79000.',
       '85000-101000.', '20.01-22.54.', '63000-84000.', '53000-70000.',
       '41.00.', '58000-113000.', '56000-78000.', '96000-101000.',
       '86000-97000.', '48000-77000.', '85000-140000.', '76000-101000.',
       '45000-94000.', '43000-50000.', '20.00-25.64.', '42000-68000.',
       '68000-88000.', '62000-91000.', '32.00-35.00.', '42.75-45.75.',
       '6000.', '35000-47000.', '43.00-44.00.', '61000-80000.', '46.00.',
       '64000-97000.', '28.50.', '50000-91000.', '81000-122000.',
       '66000-108000.', '41.50.', '80000-88000.', '86000-88000.',
       '105000.', '48000-68000.', '43.80.', '43.40.', '39.50.',
       '61000-68000.', '59000-85000.', '86000-105000.', '44000-48000.',
       '47.20.', '66000-87000.', '76000-107000.', '46.00-48.00.',
       '71000-82000.', '86000-104000.', '67000-87000.', '61000-77000.',
       '38.13-54.82.', '38.97-40.00.', '72000-98000.', '104000-110000.',
       '68000-77000.', '65000-76000.', '51000.', '48000-83000.',
       '71000-119000.', '150000.', '58000-65000.', '84000-123000.',
       '70000-104000.', '54000-67000.', '73000-85000.', '27.48-36.65.',
       '62000.', '67000-102000.', '94000-110000.', '86000-94000.',
       '72000-153000.'], dtype=object)

In [21]:
def format_sal_2(value):
    if str(value).endswith('.') == True:
        return value[:-1]
    else:
        return value
    
df['salary'] = df['salary'].apply(format_sal_2)
df['salary'].unique()

array(['000', '87875-105000', '55.39-62.66', nan, '27.48-36.65', '43.50',
       '45000-50000', '250', '2020.00', '83500-149300', '46', '105000',
       '50-5850.00-58.00', '100000', '82800-103500', '38', '28.40',
       '47.20', '8700087000', '11028', '2500', '5000', '38-39', '',
       '42.56', '82000-101000', '43.30', '44', '47.12',
       '47266.40-64725.92', '56000-84000', '47', '40.12-45.39', '128',
       '8000080000', '75715-100652', '70-80', '500', '41', '43',
       '37.18-40.00', '50000-60000', '45', '83416.00', '43.27', '42-50',
       '43.35-57.96', '71563-100052', '77105-86637', '20', '48.50',
       '109000-159000', '43200-70800', '27', '103042', '42', '4545.00',
       '64618.31-90053.44', '79786.18-93866.14', '40-45', '1',
       '57200-78000', '67450.89-97437.66', '80-10080.00-100.00', '4',
       '65000-78000', '1000', '20.01-22.52', '1700215', '25-30', '2',
       '38000-480002000', '3500', '95000-10500095-105', '71000-94000',
       '5800058000.00', '70000-80000', '45.64-65.60', '30', '54300-88300',
       '109000-159000-', '2000', '50', '42.05', '4800048000.00',
       '70-9070.00-90.00', '70', '23.76-25.90', '1818.00', '3', '22',
       '52.09', '28.50', '41.50', '32.21', '75000', '43.27-45.00',
       '86008', '100000-110000', '77000-96000', '72639-94431',
       '32-3532-35', '37', '140000140000.00', '55000-75000',
       '30-5030.00-50.00', '43-44', '43-45', '53.50', '3358', '68994',
       '47.25', '26.50', '29.50', '36.5736.57', '30-3530-35', '0',
       '44200-55300', '100000-120000', '39', '68000', '65000', '141177',
       '49.19', '170', '36.50-38.00', '92500-113500', '79000', '47.50',
       '38.27-55.01', '68819-84450', '80000-90000', '8500085000.00',
       '83000-104000', '55000-78000', '60000-85000', '55000-65000',
       '87000', '40000-93000', '86000-107000', '80000-105000',
       '98000-105000', '110000-130000', '75000-108000', '46000-105000',
       '75000-110000', '65000-80000', '75000-85000', '43000-93000',
       '80000-87000', '38000-70000', '70000-90000', '60000-70000',
       '65.00-75.00', '72000-86000', '72000-82000', '20.00',
       '56000-76000', '65000-120000', '65000-77000', '44000-45000',
       '89000-111000', '52000-74000', '70000-79000', '35.04-43.00',
       '58000', '81000-91000', '60000-95000', '82000-87000',
       '48000-80000', '65000-85000', '55000-66000', '38.12-54.80',
       '42.04-49.65', '70000-95000', '40000-50000', '65000-75000',
       '50000-70000', '85000', '84000-90000', '69000-80000',
       '77000-97000', '69000-84000', '8000-10000', '60000-109000',
       '70000-115000', '64000-80000', '55000-71000', '60000-90000',
       '76000-114000', '49000-78000', '77000-87000', '61000-100000',
       '16.64-23.67', '42000-69000', '85000-93000', '35.65-43.40',
       '120000-130000', '41.28-55.18', '70000-93000', '80000',
       '56000-100000', '53000-84000', '70000-87000', '35000-65000',
       '60000-99000', '45.00-55.00', '60000-100000', '47000-58000',
       '70000-76000', '42.18', '45.00', '21.80-23.66', '80000-124000',
       '58000-75000', '68000-81000', '61000', '81000-110000',
       '70000-100000', '78000-93000', '75000-100000', '108000-147000',
       '52000-68000', '81000-114000', '60000-112000', '89000-123000',
       '85000-90000', '58000-80000', '70.00-85.00', '40.00-45.00',
       '69000-85000', '40000-60000', '82000-230000', '30.00',
       '81000-101000', '54000', '62000-80000', '80000-92000',
       '57000-62000', '63000-120000', '115000-156000', '151000-187000',
       '47.00', '57000-78000', '80000-100000', '57000-98000',
       '65000-91000', '43.00', '35.00-40.00', '70000', '66000', '44.00',
       '89000', '68000-95000', '42.00-48.00', '67000-113000',
       '61000-66000', '60000-98000', '61000-82000', '92000-100000',
       '35000-53000', '88000-105000', '83000-109000', '72000-100000',
       '76000-100000', '64000-76000', '50000-75000', '79000-122000',
       '75000-90000', '70000-75000', '52000-75000', '60000-80000',
       '34.00-36.00', '69000-95000', '57000-87000', '71000-83000',
       '54000-63000', '55000-74000', '61000-76000', '48000',
       '47000-59000', '67000-98000', '82000-88000', '81000-100000',
       '75000-80000', '56000-69000', '75000-95000', '64000-112000',
       '49000-62000', '73000-95000', '85000-95000', '54000-60000',
       '35000-41000', '51000-110000', '65000-87000', '36.57',
       '59000-65000', '90000-106000', '42.60', '68000-86000',
       '49000-95000', '80000-110000', '104000', '60000-75000',
       '72000-80000', '65000-100000', '78000-100000', '47000-70000',
       '76000-106000', '45000-90000', '55000-80000', '57000-82000',
       '37.00', '67000-97000', '50.00-100.00', '62000-100000',
       '42.00-50.00', '48000-54000', '70000-114000', '63000',
       '44000-90000', '100000-115000', '45000-48000', '44000-63000',
       '85000-130000', '42.50', '70000-71000', '61000-89000',
       '95000-135000', '69000-90000', '55000-58000', '35000-71000',
       '84000-149000', '76000', '50000-93000', '103000-155000',
       '61000-74000', '100000-125000', '65000-79000', '39.00',
       '90000-96000', '64000-118000', '68000-98000', '30.00-35.00',
       '67000-75000', '67000-78000', '40000-45000', '71000-96000',
       '64000-109000', '59000-70000', '69000-87000', '75000-126000',
       '81000-115000', '81000-127000', '90000-110000', '50000-95000',
       '35000-38000', '65000-89000', '47000-88000', '62000-109000',
       '35000-86000', '59000-112000', '63000-99000', '70000-118000',
       '76000-113000', '51000-75000', '65000-73000', '56000-85000',
       '70000-85000', '80000-95000', '75000-139000', '83000-100000',
       '53000-74000', '63000-87000', '46000-70000', '44000-54000',
       '77000-100000', '57000-90000', '76000-92000', '86000-109000',
       '38000-55000', '95000-125000', '59000-88000', '45000-75000',
       '65000-70000', '82000-119000', '70.00-90.00', '75000-107000',
       '90000-100000', '121000-140000', '43.00-48.00', '43.82-51.78',
       '42.00', '45000-70000', '50.00', '55000-70000', '80000-81000',
       '38.00-39.00', '28.00', '52000-69000', '70000-94000',
       '56000-66000', '67000-80000', '65000-74000', '102000-107000',
       '55000', '60000-86000', '60000-84000', '68000-82000',
       '60000-81000', '36.68-42.51', '60000-74000', '47000-65000',
       '63000-80000', '71000-101000', '53000-60000', '45.44-53.46',
       '59000-60000', '32.94-36.75', '30.00-50.00', '71000-125000',
       '38000-48000', '59000-67000', '82000-89000', '59000-62000',
       '47000-60000', '18.00', '55000-86000', '62000-67000',
       '83000-92000', '90000-150000', '53000-61000', '65000-122000',
       '56000-74000', '87000-120000', '58000-100000', '64000-101000',
       '65000-82000', '55000-76000', '68000-91000', '75.00', '221.92',
       '77000-101000', '43.44', '64000', '55000-69000', '80000-118000',
       '50.00-55.00', '51.50', '80.00-90.00', '38.50', '87000-93000',
       '46000-67000', '48000-64000', '62000-90000', '90000-200000',
       '45000-81000', '41.17-51.44', '56000-97000', '69000-86000',
       '62000-84000', '109000-123000', '68000-93000', '85000-110000',
       '18.00-25.00', '113000', '49000-64000', '61000-91000', '5000-7000',
       '65.00-70.00', '84000-104000', '50000-55000', '70000-124000',
       '44000-55000', '43.58-47.75', '76000-87000', '60000-65000',
       '54000-88000', '58000-64000', '75000-150000', '60000-82000',
       '66.00', '67000', '89000-93000', '53000-85000', '65000-90000',
       '54000-71000', '55000-85000', '50000-51000', '88000-137000',
       '93000-114000', '56000-80000', '34.67-49.83', '77000-114000',
       '34.28-55.07', '65000-72000', '57000-75000', '64000-90000',
       '7000-10000', '53000-82000', '90000-180000', '72000-91000',
       '80.00-100.00', '75000-92000', '71000-80000', '45.43-53.67',
       '40.00', '57000-63000', '38.00', '68000-79000', '50000-53000',
       '51000-55000', '52000-59000', '42.39-51.58', '72000-104000',
       '44000-58000', '8000', '54000-58000', '60000-79000',
       '85000-101000', '20.01-22.54', '63000-84000', '53000-70000',
       '41.00', '58000-113000', '56000-78000', '96000-101000',
       '86000-97000', '48000-77000', '85000-140000', '76000-101000',
       '45000-94000', '43000-50000', '20.00-25.64', '42000-68000',
       '68000-88000', '62000-91000', '32.00-35.00', '42.75-45.75', '6000',
       '35000-47000', '43.00-44.00', '61000-80000', '46.00',
       '64000-97000', '50000-91000', '81000-122000', '66000-108000',
       '80000-88000', '86000-88000', '48000-68000', '43.80', '43.40',
       '39.50', '61000-68000', '59000-85000', '86000-105000',
       '44000-48000', '66000-87000', '76000-107000', '46.00-48.00',
       '71000-82000', '86000-104000', '67000-87000', '61000-77000',
       '38.13-54.82', '38.97-40.00', '72000-98000', '104000-110000',
       '68000-77000', '65000-76000', '51000', '48000-83000',
       '71000-119000', '150000', '58000-65000', '84000-123000',
       '70000-104000', '54000-67000', '73000-85000', '62000',
       '67000-102000', '94000-110000', '86000-94000', '72000-153000'],
      dtype=object)

In [22]:
df['salary'].fillna('0', inplace=True)
new = df['salary'].str.split('-', n=1, expand=True)

df['min_salary'] = new[0]
df['max_salary'] = new[1]
df.head()

,job_title,company_name,tech_skills,salary,city,province,web_platform,min_salary,max_salary
0,data_analyst,binance,"python,_sql",000,remote,unknown,indeed,000,None
1,business_analyst,canadian_nuclear_laboratories,"power_bi,_power_bi,_excel",000,remote,unknown,indeed,000,None
2,data_analyst,sander_geophysics_limited,unknown,000,ottawa,on,indeed,000,None
3,data_analyst,"maximus_services,_llc","fabric,_power_bi,_sql,_machine_learning,_genes...",87875-105000,toronto,on,indeed,87875,105000
4,business_intelligence_analyst,niagara_health_system,"azure,_power_bi,_sql,_aws",55.39-62.66,niagara,on,indeed,55.39,62.66

In [23]:
df['min_salary'].unique()

array(['000', '87875', '55.39', '0', '27.48', '43.50', '45000', '250',
       '2020.00', '83500', '46', '105000', '50', '100000', '82800', '38',
       '28.40', '47.20', '8700087000', '11028', '2500', '5000', '',
       '42.56', '82000', '43.30', '44', '47.12', '47266.40', '56000',
       '47', '40.12', '128', '8000080000', '75715', '70', '500', '41',
       '43', '37.18', '50000', '45', '83416.00', '43.27', '42', '43.35',
       '71563', '77105', '20', '48.50', '109000', '43200', '27', '103042',
       '4545.00', '64618.31', '79786.18', '40', '1', '57200', '67450.89',
       '80', '4', '65000', '1000', '20.01', '1700215', '25', '2', '38000',
       '3500', '95000', '71000', '5800058000.00', '70000', '45.64', '30',
       '54300', '2000', '42.05', '4800048000.00', '23.76', '1818.00', '3',
       '22', '52.09', '28.50', '41.50', '32.21', '75000', '86008',
       '77000', '72639', '32', '37', '140000140000.00', '55000', '53.50',
       '3358', '68994', '47.25', '26.50', '29.50', '36.5736.57', '44200',
       '39', '68000', '141177', '49.19', '170', '36.50', '92500', '79000',
       '47.50', '38.27', '68819', '80000', '8500085000.00', '83000',
       '60000', '87000', '40000', '86000', '98000', '110000', '46000',
       '43000', '65.00', '72000', '20.00', '44000', '89000', '52000',
       '35.04', '58000', '81000', '48000', '38.12', '42.04', '85000',
       '84000', '69000', '8000', '64000', '76000', '49000', '61000',
       '16.64', '42000', '35.65', '120000', '41.28', '53000', '35000',
       '45.00', '47000', '42.18', '21.80', '78000', '108000', '70.00',
       '40.00', '30.00', '54000', '62000', '57000', '63000', '115000',
       '151000', '47.00', '43.00', '35.00', '66000', '44.00', '42.00',
       '67000', '92000', '88000', '34.00', '73000', '51000', '36.57',
       '59000', '90000', '42.60', '104000', '37.00', '50.00', '42.50',
       '103000', '39.00', '121000', '43.82', '38.00', '28.00', '102000',
       '36.68', '45.44', '32.94', '18.00', '75.00', '221.92', '43.44',
       '51.50', '80.00', '38.50', '41.17', '113000', '43.58', '66.00',
       '93000', '34.67', '34.28', '7000', '45.43', '42.39', '41.00',
       '96000', '32.00', '42.75', '6000', '46.00', '43.80', '43.40',
       '39.50', '38.13', '38.97', '150000', '94000'], dtype=object)

In [24]:
df['min_salary'] = df['min_salary'].replace('000', '0')
df['min_salary'] = df['min_salary'].replace('', '0')

def repeating_sal_value(value):
    if len(str(value)) <= 1:
        return str(value)
    
    if str(value)[0:5] == str(value)[5:10]:
        return str(value)[5:]
    
    elif str(value)[0:6] == str(value)[6:12]:
        return str(value)[6:]
    
    else:
        return str(value)


df['min_salary'] = df['min_salary'].apply(repeating_sal_value)
df['min_salary'].unique()

array(['0', '87875', '55.39', '27.48', '43.50', '45000', '250', '2020.00',
       '83500', '46', '105000', '50', '100000', '82800', '38', '28.40',
       '47.20', '87000', '11028', '2500', '5000', '42.56', '82000',
       '43.30', '44', '47.12', '47266.40', '56000', '47', '40.12', '128',
       '80000', '75715', '70', '500', '41', '43', '37.18', '50000', '45',
       '83416.00', '43.27', '42', '43.35', '71563', '77105', '20',
       '48.50', '109000', '43200', '27', '103042', '4545.00', '64618.31',
       '79786.18', '40', '1', '57200', '67450.89', '80', '4', '65000',
       '1000', '20.01', '1700215', '25', '2', '38000', '3500', '95000',
       '71000', '58000.00', '70000', '45.64', '30', '54300', '2000',
       '42.05', '48000.00', '23.76', '1818.00', '3', '22', '52.09',
       '28.50', '41.50', '32.21', '75000', '86008', '77000', '72639',
       '32', '37', '140000.00', '55000', '53.50', '3358', '68994',
       '47.25', '26.50', '29.50', '36.57', '44200', '39', '68000',
       '141177', '49.19', '170', '36.50', '92500', '79000', '47.50',
       '38.27', '68819', '85000.00', '83000', '60000', '40000', '86000',
       '98000', '110000', '46000', '43000', '65.00', '72000', '20.00',
       '44000', '89000', '52000', '35.04', '58000', '81000', '48000',
       '38.12', '42.04', '85000', '84000', '69000', '8000', '64000',
       '76000', '49000', '61000', '16.64', '42000', '35.65', '120000',
       '41.28', '53000', '35000', '45.00', '47000', '42.18', '21.80',
       '78000', '108000', '70.00', '40.00', '30.00', '54000', '62000',
       '57000', '63000', '115000', '151000', '47.00', '43.00', '35.00',
       '66000', '44.00', '42.00', '67000', '92000', '88000', '34.00',
       '73000', '51000', '59000', '90000', '42.60', '104000', '37.00',
       '50.00', '42.50', '103000', '39.00', '121000', '43.82', '38.00',
       '28.00', '102000', '36.68', '45.44', '32.94', '18.00', '75.00',
       '221.92', '43.44', '51.50', '80.00', '38.50', '41.17', '113000',
       '43.58', '66.00', '93000', '34.67', '34.28', '7000', '45.43',
       '42.39', '41.00', '96000', '32.00', '42.75', '6000', '46.00',
       '43.80', '43.40', '39.50', '38.13', '38.97', '150000', '94000'],
      dtype=object)

In [25]:
df['min_salary'] = df['min_salary'].astype('float')

def hourly_pay_to_annual(value):
    if value < 100:
        return (value * 2080)
    else:
        return value

df['min_salary'] = df['min_salary'].apply(hourly_pay_to_annual).round(2)

In [26]:
df['max_salary'].unique()

array([None, '105000', '62.66', '36.65', '50000', '149300',
       '5850.00-58.00', '103500', '39', '101000', '64725.92', '84000',
       '45.39', '100652', '80', '40.00', '60000', '50', '57.96', '100052',
       '86637', '159000', '70800', '90053.44', '93866.14', '45', '78000',
       '97437.66', '10080.00-100.00', '22.52', '30', '480002000',
       '10500095-105', '94000', '80000', '65.60', '88300', '159000-',
       '9070.00-90.00', '25.90', '45.00', '110000', '96000', '94431',
       '3532-35', '75000', '5030.00-50.00', '44', '3530-35', '55300',
       '120000', '38.00', '113500', '55.01', '84450', '90000', '104000',
       '85000', '65000', '93000', '107000', '130000', '108000', '87000',
       '70000', '75.00', '86000', '82000', '76000', '77000', '45000',
       '111000', '74000', '79000', '43.00', '91000', '95000', '66000',
       '54.80', '49.65', '97000', '10000', '109000', '115000', '71000',
       '114000', '100000', '23.67', '69000', '43.40', '55.18', '99000',
       '55.00', '58000', '23.66', '124000', '81000', '147000', '68000',
       '112000', '123000', '85.00', '230000', '92000', '62000', '156000',
       '187000', '98000', '48.00', '113000', '53000', '122000', '36.00',
       '83000', '63000', '59000', '88000', '41000', '106000', '100.00',
       '50.00', '54000', '48000', '89000', '135000', '149000', '155000',
       '125000', '118000', '35.00', '126000', '127000', '38000', '73000',
       '139000', '55000', '119000', '90.00', '140000', '51.78', '39.00',
       '42.51', '53.46', '36.75', '67000', '150000', '61000', '64000',
       '200000', '51.44', '25.00', '7000', '70.00', '47.75', '51000',
       '137000', '49.83', '55.07', '72000', '180000', '53.67', '51.58',
       '22.54', '25.64', '45.75', '47000', '44.00', '54.82', '102000',
       '153000'], dtype=object)

In [27]:
df['max_salary'] = df['max_salary'].str.replace('-', '')
df['max_salary'] = df['max_salary'][df['max_salary'].str.len() < 7]
df['max_salary'].fillna('0', inplace=True)
df['max_salary'].unique()

array(['0', '105000', '62.66', '36.65', '50000', '149300', '103500', '39',
       '101000', '84000', '45.39', '100652', '80', '40.00', '60000', '50',
       '57.96', '100052', '86637', '159000', '70800', '45', '78000',
       '22.52', '30', '94000', '80000', '65.60', '88300', '25.90',
       '45.00', '110000', '96000', '94431', '353235', '75000', '44',
       '353035', '55300', '120000', '38.00', '113500', '55.01', '84450',
       '90000', '104000', '85000', '65000', '93000', '107000', '130000',
       '108000', '87000', '70000', '75.00', '86000', '82000', '76000',
       '77000', '45000', '111000', '74000', '79000', '43.00', '91000',
       '95000', '66000', '54.80', '49.65', '97000', '10000', '109000',
       '115000', '71000', '114000', '100000', '23.67', '69000', '43.40',
       '55.18', '99000', '55.00', '58000', '23.66', '124000', '81000',
       '147000', '68000', '112000', '123000', '85.00', '230000', '92000',
       '62000', '156000', '187000', '98000', '48.00', '113000', '53000',
       '122000', '36.00', '83000', '63000', '59000', '88000', '41000',
       '106000', '100.00', '50.00', '54000', '48000', '89000', '135000',
       '149000', '155000', '125000', '118000', '35.00', '126000',
       '127000', '38000', '73000', '139000', '55000', '119000', '90.00',
       '140000', '51.78', '39.00', '42.51', '53.46', '36.75', '67000',
       '150000', '61000', '64000', '200000', '51.44', '25.00', '7000',
       '70.00', '47.75', '51000', '137000', '49.83', '55.07', '72000',
       '180000', '53.67', '51.58', '22.54', '25.64', '45.75', '47000',
       '44.00', '54.82', '102000', '153000'], dtype=object)

In [28]:
df['max_salary'] = df['max_salary'].astype('float')
df['max_salary'] = df['max_salary'].apply(hourly_pay_to_annual).round(2)
df['max_salary'].unique()

array([0.000000e+00, 1.050000e+05, 1.303328e+05, 7.623200e+04,
       5.000000e+04, 1.493000e+05, 1.035000e+05, 8.112000e+04,
       1.010000e+05, 8.400000e+04, 9.441120e+04, 1.006520e+05,
       1.664000e+05, 8.320000e+04, 6.000000e+04, 1.040000e+05,
       1.205568e+05, 1.000520e+05, 8.663700e+04, 1.590000e+05,
       7.080000e+04, 9.360000e+04, 7.800000e+04, 4.684160e+04,
       6.240000e+04, 9.400000e+04, 8.000000e+04, 1.364480e+05,
       8.830000e+04, 5.387200e+04, 1.100000e+05, 9.600000e+04,
       9.443100e+04, 3.532350e+05, 7.500000e+04, 9.152000e+04,
       3.530350e+05, 5.530000e+04, 1.200000e+05, 7.904000e+04,
       1.135000e+05, 1.144208e+05, 8.445000e+04, 9.000000e+04,
       8.500000e+04, 6.500000e+04, 9.300000e+04, 1.070000e+05,
       1.300000e+05, 1.080000e+05, 8.700000e+04, 7.000000e+04,
       1.560000e+05, 8.600000e+04, 8.200000e+04, 7.600000e+04,
       7.700000e+04, 4.500000e+04, 1.110000e+05, 7.400000e+04,
       7.900000e+04, 8.944000e+04, 9.100000e+04, 9.500000e+04,
       6.600000e+04, 1.139840e+05, 1.032720e+05, 9.700000e+04,
       1.000000e+04, 1.090000e+05, 1.150000e+05, 7.100000e+04,
       1.140000e+05, 1.000000e+05, 4.923360e+04, 6.900000e+04,
       9.027200e+04, 1.147744e+05, 9.900000e+04, 1.144000e+05,
       5.800000e+04, 4.921280e+04, 1.240000e+05, 8.100000e+04,
       1.470000e+05, 6.800000e+04, 1.120000e+05, 1.230000e+05,
       1.768000e+05, 2.300000e+05, 9.200000e+04, 6.200000e+04,
       1.870000e+05, 9.800000e+04, 9.984000e+04, 1.130000e+05,
       5.300000e+04, 1.220000e+05, 7.488000e+04, 8.300000e+04,
       6.300000e+04, 5.900000e+04, 8.800000e+04, 4.100000e+04,
       1.060000e+05, 1.000000e+02, 5.400000e+04, 4.800000e+04,
       8.900000e+04, 1.350000e+05, 1.490000e+05, 1.550000e+05,
       1.250000e+05, 1.180000e+05, 7.280000e+04, 1.260000e+05,
       1.270000e+05, 3.800000e+04, 7.300000e+04, 1.390000e+05,
       5.500000e+04, 1.190000e+05, 1.872000e+05, 1.400000e+05,
       1.077024e+05, 8.842080e+04, 1.111968e+05, 7.644000e+04,
       6.700000e+04, 1.500000e+05, 6.100000e+04, 6.400000e+04,
       2.000000e+05, 1.069952e+05, 5.200000e+04, 7.000000e+03,
       1.456000e+05, 9.932000e+04, 5.100000e+04, 1.370000e+05,
       1.036464e+05, 1.145456e+05, 7.200000e+04, 1.800000e+05,
       1.116336e+05, 1.072864e+05, 4.688320e+04, 5.333120e+04,
       9.516000e+04, 4.700000e+04, 1.140256e+05, 1.020000e+05,
       1.530000e+05])

In [32]:
df['avg_salary'] = ((df['max_salary'] + df['min_salary']) / 2).round(2)
df = df.drop(columns=['salary'])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     1796 non-null   object
 1   company_name  1796 non-null   object
 2   tech_skills   1796 non-null   object
 3   city          1796 non-null   object
 4   province      1796 non-null   object
 5   web_platform  1796 non-null   object
 6   min_salary    1796 non-null   float64
 7   max_salary    1796 non-null   float64
 8   avg_salary    1796 non-null   float64
dtypes: float64(3), object(6)
memory usage: 126.4+ KB

,job_title,company_name,tech_skills,city,province,web_platform,min_salary,max_salary,avg_salary
0,data_analyst,binance,"python,_sql",remote,unknown,indeed,0.0,0.0,0.0
1,business_analyst,canadian_nuclear_laboratories,"power_bi,_power_bi,_excel",remote,unknown,indeed,0.0,0.0,0.0
2,data_analyst,sander_geophysics_limited,unknown,ottawa,on,indeed,0.0,0.0,0.0
3,data_analyst,"maximus_services,_llc","fabric,_power_bi,_sql,_machine_learning,_genes...",toronto,on,indeed,87875.0,105000.0,96437.5
4,business_intelligence_analyst,niagara_health_system,"azure,_power_bi,_sql,_aws",niagara,on,indeed,115211.2,130332.8,122772.0

In [30]:
avg_fillin = df.groupby('job_title').agg({'min_salary': 'mean',
                                          'max_salary': 'mean',
                                          'avg_salary': 'mean'})


avg_fillin.columns = ['avg_min_sal', 'avg_max_sal', 'avg_avg_sal']
avg_fillin

                                avg_min_sal   avg_max_sal   avg_avg_sal
job_title
analyst                        30722.860899  31074.814052  30898.837467
business_analyst               35944.764986  32952.368661  34448.566838
business_intelligence_analyst  37955.054237  38641.233898  38298.144068
business_systems_analyst       45579.433663  26860.910891  36220.172277
data_analyst                   49469.450354  39049.919553  44259.684953
financial_analyst              18370.956522  21304.347826  19837.652174
marketing_analyst              40233.760000  20352.000000  30292.880000
quality_analyst                21222.222222  24222.222222  22722.222222
research_analyst               40561.150000  39412.000000  39986.575000
risk_analyst                   25480.000000  36770.000000  31125.000000

In [35]:
avg_fillin['avg_min_sal'][0]

30722.860898692812

In [ ]:
def sal_fillin(value):
    if (value['job_title'] == 'analyst') & (value['min_salary'] == 0):
        return value['min_salary'] == avg_fillin['avg_min_sal'][0]

[Back to Table of Contents](#back)

[Back to Table of Contents](#back)

## Exploratory Data Analysis

[Back to Table of Contents](#back)

## Conclusions and Reccomendations

[Back to Table of Contents](#back)

## Dataset Citation

syntax:
[Dataset creator's name]. ([Year &amp; Month of dataset creation]). [Name of the dataset], [Version of the dataset]. Retrieved [Date Retrieved] from [Kaggle](URL of the dataset).

example:
Tatman, R. (2017, November). R vs. Python: The Kitchen Gadget Test, Version 1. Retrieved December 20, 2017 from https://www.kaggle.com/rtatman/r-vs-python-the-kitchen-gadget-test.

[Back to Table of Contents](#back)